<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>animated</key>
			<dict>
				<key>fog</key>
				<dict>
					<key>bottomBorder</key>
					<integer>-1</integer>
					<key>density</key>
					<real>0.8</real>
					<key>height</key>
					<integer>700</integer>
					<key>noiseScaleX</key>
					<real>0.01</real>
					<key>noiseScaleY</key>
					<real>0.1</real>
					<key>spawnBottom</key>
					<integer>64</integer>
					<key>spawnTop</key>
					<integer>0</integer>
					<key>topBorder</key>
					<integer>20</integer>
					<key>turbulence</key>
					<real>0.1</real>
					<key>width</key>
					<integer>740</integer>
					<key>windSpeed</key>
					<integer>40</integer>
					<key>x</key>
					<integer>370</integer>
					<key>y</key>
					<integer>350</integer>
					<key>z</key>
					<integer>20</integer>
				</dict>
				<key>objects</key>
				<array>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene12_thomas_smoke</string>
							</dict>
						</array>
						<key>name</key>
						<string>thomas</string>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene12_bash_smoke</string>
							</dict>
						</array>
						<key>name</key>
						<string>bash</string>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene12_dash_smoke</string>
							</dict>
						</array>
						<key>name</key>
						<string>dash</string>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene12_ferdinand_smoke</string>
							</dict>
						</array>
						<key>name</key>
						<string>ferdinand</string>
					</dict>
				</array>
			</dict>
			<key>bgColor</key>
			<string>WHITE</string>
			<key>offsetY</key>
			<integer>80</integer>
			<key>bgSound</key>
			<dict>
				<key>filename</key>
				<string>ambience_scene12.m4a</string>
				<key>repeat</key>
				<true/>
				<key>volume</key>
				<real>0.9</real>
			</dict>
			<key>static</key>
			<dict>
				<key>background</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene12_bkg</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene12_bkg1</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene12_bkg2</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene12_bkg3</string>
					</dict>
				</array>
				<key>text</key>
				<dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{700,101},{304,417}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Georgia</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>overlayText</key>
						<string>Thomas exclaimed, “I’ve found the Logging Locos!” Bash, Dash, and Ferdinand were loading wood in the old logging camp. Thomas asked them for help getting off the island, but they were busy. “We said hello to you yesterday,” Dash said. “But you didn’t want to be friends with us.” “I’m sorry,” Thomas peeped. “I was silly to think I could find a way off Misty Island by myself.”</string>
						<key>size</key>
						<integer>19</integer>
						<key>text</key>
						<string>      Thomas exclaimed, “I’ve found the Logging Locos!” Bash, Dash, and Ferdinand were loading wood in the old logging camp. Thomas asked them for help getting off the island, but they were busy. “We said hello to you yesterday,” Dash said. “But you didn’t want to be friends with us.” “I’m sorry,” Thomas peeped. “I was silly to think I could find a way off Misty Island by myself.”</string>
						<key>z</key>
						<integer>30</integer>
					</dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{700,101},{304,417}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Georgia</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>overlayText</key>
						<string>Thomas exclaimed, “I’ve found the Logging Locos!” Bash, Dash, and Ferdinand were loading wood in the old logging camp. Thomas asked them for help getting off the island, but they were busy. “We said hello to you yesterday,” Dash said. “But you didn’t want to be friends with us.” “I’m sorry,” Thomas peeped. “I was silly to think I could find a way off Misty Island by myself.”</string>
						<key>size</key>
						<integer>19</integer>
						<key>text</key>
						<string>      Thomas exclaimed, “I’ve found the Logging Locos!” Bash, Dash, and Ferdinand were loading wood in the old logging camp. Thomas asked them for help getting off the island, but they were busy. “We said hello to you yesterday,” Dash said. “But you didn’t want to be friends with us.” “I’m sorry,” Thomas peeped. “I was silly to think I could find a way off Misty Island by myself.”</string>
						<key>z</key>
						<integer>30</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene12_bkg1</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene12_bkg1</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<string>512</string>
			<key>y</key>
			<string>384</string>
		</dict>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene12_bkg2</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene12_bkg2</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<string>178</string>
			<key>y</key>
			<string>518</string>
		</dict>
		<key>z</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene12_bkg3</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene12_bkg3</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<string>441</string>
			<key>y</key>
			<string>262.5</string>
		</dict>
		<key>z</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene12_bkg</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene12_bkg</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<string>815</string>
			<key>y</key>
			<string>384</string>
		</dict>
		<key>z</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>ferdinand</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene12_ferdinand</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<real>43</real>
			<key>y</key>
			<real>521</real>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>2.708333333333333</real>
						<key>ease</key>
						<real>1</real>
						<key>sound</key>
						<string>startanimation_1_scene_12.m4a</string>
						<key>x</key>
						<real>305</real>
						<key>y</key>
						<real>458</real>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>start</string>
			</dict>
		</array>
		<key>z</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>bash</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene12_bash</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<real>858</real>
			<key>y</key>
			<real>350</real>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>1.2</real>
						<key>ease</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>duration</key>
						<real>2.708333333333333</real>
						<key>ease</key>
						<real>1</real>
						<key>x</key>
						<real>398</real>
						<key>y</key>
						<real>263</real>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>start</string>
			</dict>
		</array>
		<key>z</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>clickarea</key>
		<string>{{0,0},{81,163}}</string>
		<key>frameAnimations</key>
		<array>
			<dict>
				<key>repeatForever</key>
				<false/>
				<key>source</key>
				<dict>
					<key>eye</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>17</string>
							<key>totalFrames</key>
							<string>59</string>
							<key>width</key>
							<string>23</string>
							<key>x</key>
							<string>25.5</string>
							<key>y</key>
							<string>78.5</string>
							<key>z</key>
							<integer>8</integer>
						</dict>
						<array>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye2</string>
							<string>scene12_dash_eye2</string>
							<string>scene12_dash_eye3</string>
							<string>scene12_dash_eye3</string>
							<string>scene12_dash_eye3</string>
							<string>scene12_dash_eye3</string>
							<string>scene12_dash_eye3</string>
							<string>scene12_dash_eye3</string>
							<string>scene12_dash_eye3</string>
							<string>scene12_dash_eye3</string>
							<string>scene12_dash_eye3</string>
							<string>scene12_dash_eye3</string>
							<string>scene12_dash_eye3</string>
							<string>scene12_dash_eye3</string>
							<string>scene12_dash_eye3</string>
							<string>scene12_dash_eye3</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye4</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
							<string>scene12_dash_eye1</string>
						</array>
					</array>
					<key>forehead</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>33</string>
							<key>sound</key>
							<string>bashdash_interactive_scene_12.m4a</string>
							<key>totalFrames</key>
							<string>73</string>
							<key>width</key>
							<string>31</string>
							<key>x</key>
							<string>27.5</string>
							<key>y</key>
							<string>80.5</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead2</string>
							<string>scene12_dash_forehead2</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead2</string>
							<string>scene12_dash_forehead2</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead2</string>
							<string>scene12_dash_forehead2</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead3</string>
							<string>scene12_dash_forehead2</string>
							<string>scene12_dash_forehead2</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
							<string>scene12_dash_forehead1</string>
						</array>
					</array>
					<key>mouth</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>23</string>
							<key>totalFrames</key>
							<string>73</string>
							<key>width</key>
							<string>32</string>
							<key>x</key>
							<string>27</string>
							<key>y</key>
							<string>63.5</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene12_dash_mouth1</string>
							<string>scene12_dash_mouth1</string>
							<string>scene12_dash_mouth1</string>
							<string>scene12_dash_mouth2</string>
							<string>scene12_dash_mouth2</string>
							<string>scene12_dash_mouth3</string>
							<string>scene12_dash_mouth3</string>
							<string>scene12_dash_mouth3</string>
							<string>scene12_dash_mouth3</string>
							<string>scene12_dash_mouth3</string>
							<string>scene12_dash_mouth3</string>
							<string>scene12_dash_mouth4</string>
							<string>scene12_dash_mouth4</string>
							<string>scene12_dash_mouth5</string>
							<string>scene12_dash_mouth4</string>
							<string>scene12_dash_mouth4</string>
							<string>scene12_dash_mouth4</string>
							<string>scene12_dash_mouth6</string>
							<string>scene12_dash_mouth6</string>
							<string>scene12_dash_mouth6</string>
							<string>scene12_dash_mouth6</string>
							<string>scene12_dash_mouth7</string>
							<string>scene12_dash_mouth7</string>
							<string>scene12_dash_mouth4</string>
							<string>scene12_dash_mouth2</string>
							<string>scene12_dash_mouth2</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth5</string>
							<string>scene12_dash_mouth5</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth7</string>
							<string>scene12_dash_mouth7</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth8</string>
							<string>scene12_dash_mouth7</string>
							<string>scene12_dash_mouth7</string>
							<string>scene12_dash_mouth7</string>
							<string>scene12_dash_mouth7</string>
							<string>scene12_dash_mouth7</string>
							<string>scene12_dash_mouth7</string>
							<string>scene12_dash_mouth4</string>
							<string>scene12_dash_mouth4</string>
							<string>scene12_dash_mouth4</string>
							<string>scene12_dash_mouth4</string>
							<string>scene12_dash_mouth4</string>
							<string>scene12_dash_mouth4</string>
							<string>scene12_dash_mouth4</string>
						</array>
					</array>
				</dict>
				<key>texturedata</key>
				<string>scene12_dash_texture</string>
				<key>type</key>
				<string>interactive</string>
			</dict>
		</array>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>dash</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene12_dash</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<real>797</real>
			<key>y</key>
			<real>378</real>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>0.4</real>
						<key>ease</key>
						<integer>0</integer>
						<key>sound</key>
						<string>startanimation_2_scene_12.m4a</string>
					</dict>
					<dict>
						<key>duration</key>
						<real>2.708333333333333</real>
						<key>ease</key>
						<real>1</real>
						<key>x</key>
						<real>301</real>
						<key>y</key>
						<real>292</real>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>start</string>
			</dict>
		</array>
		<key>z</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>thomas</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene12_thomas</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<real>-124</real>
			<key>y</key>
			<real>168.5</real>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<integer>2</integer>
						<key>ease</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>duration</key>
						<real>2.708333333333333</real>
						<key>ease</key>
						<real>1</real>
						<key>x</key>
						<real>124</real>
						<key>y</key>
						<real>217</real>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>start</string>
			</dict>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<integer>2</integer>
						<key>ease</key>
						<integer>0</integer>
						<key>sound</key>
						<string>thomas_interactive_scene_12.m4a</string>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>interactive</string>
			</dict>
		</array>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene12_bash_smoke</string>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>100</integer>
			<key>endSizeVar</key>
			<integer>60</integer>
			<key>name</key>
			<string>scene12_bash_smoke</string>
			<key>p0x</key>
			<integer>52</integer>
			<key>p0y</key>
			<integer>169</integer>
			<key>p1x</key>
			<integer>50</integer>
			<key>p1y</key>
			<integer>195</integer>
			<key>p2x</key>
			<integer>144</integer>
			<key>p2y</key>
			<integer>205</integer>
			<key>p3x</key>
			<integer>326</integer>
			<key>p3y</key>
			<integer>219</integer>
			<key>startSize</key>
			<integer>30</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene12_dash_smoke</string>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>100</integer>
			<key>endSizeVar</key>
			<integer>40</integer>
			<key>name</key>
			<string>scene12_dash_smoke</string>
			<key>p0x</key>
			<integer>43</integer>
			<key>p0y</key>
			<integer>153</integer>
			<key>p1x</key>
			<integer>51</integer>
			<key>p1y</key>
			<integer>189</integer>
			<key>p2x</key>
			<integer>120</integer>
			<key>p2y</key>
			<integer>206</integer>
			<key>p3x</key>
			<integer>246</integer>
			<key>p3y</key>
			<integer>215</integer>
			<key>startSize</key>
			<integer>30</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene12_thomas_smoke</string>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>80</integer>
			<key>endSizeVar</key>
			<integer>10</integer>
			<key>name</key>
			<string>scene12_thomas_smoke</string>
			<key>p0x</key>
			<integer>167</integer>
			<key>p0y</key>
			<integer>207</integer>
			<key>p1x</key>
			<integer>166</integer>
			<key>p1y</key>
			<integer>233</integer>
			<key>p2x</key>
			<integer>91</integer>
			<key>p2y</key>
			<integer>239</integer>
			<key>p3x</key>
			<integer>-21</integer>
			<key>p3y</key>
			<integer>227</integer>
			<key>startSize</key>
			<integer>20</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene12_ferdinand_smoke</string>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>100</integer>
			<key>endSizeVar</key>
			<integer>40</integer>
			<key>name</key>
			<string>scene12_ferdinand_smoke</string>
			<key>p0x</key>
			<integer>301</integer>
			<key>p0y</key>
			<integer>202</integer>
			<key>p1x</key>
			<integer>305</integer>
			<key>p1y</key>
			<integer>232</integer>
			<key>p2x</key>
			<integer>192</integer>
			<key>p2y</key>
			<integer>254</integer>
			<key>p3x</key>
			<integer>81</integer>
			<key>p3y</key>
			<integer>264</integer>
			<key>startSize</key>
			<integer>30</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
