<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>scene10_bash_eye1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 32}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{57, 32}</string>
			<key>spriteSourceSize</key>
			<string>{59, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{91, 221}, {57, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene10_bash_eye2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 32}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{57, 32}</string>
			<key>spriteSourceSize</key>
			<string>{59, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 221}, {57, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene10_bash_eye3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {55, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{55, 32}</string>
			<key>spriteSourceSize</key>
			<string>{59, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 2}, {55, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene10_bash_forehead1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{83, 91}</string>
			<key>spriteSourceSize</key>
			<string>{83, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 95}, {83, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene10_bash_forehead2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{83, 91}</string>
			<key>spriteSourceSize</key>
			<string>{83, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {83, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene10_bash_forehead3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{83, 91}</string>
			<key>spriteSourceSize</key>
			<string>{83, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{87, 2}, {83, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene10_bash_mouth1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 61}</string>
			<key>spriteSourceSize</key>
			<string>{87, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{261, 2}, {87, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene10_bash_mouth2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 61}</string>
			<key>spriteSourceSize</key>
			<string>{87, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 65}, {87, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene10_bash_mouth3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 61}</string>
			<key>spriteSourceSize</key>
			<string>{87, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 188}, {87, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene10_bash_mouth4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 61}</string>
			<key>spriteSourceSize</key>
			<string>{87, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 2}, {87, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene10_bash_mouth5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 61}</string>
			<key>spriteSourceSize</key>
			<string>{87, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 128}, {87, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene10_bash_mouth6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 61}</string>
			<key>spriteSourceSize</key>
			<string>{87, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{91, 158}, {87, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene10_bash_mouth7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 61}</string>
			<key>spriteSourceSize</key>
			<string>{87, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{87, 95}, {87, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene10_bash_mouth8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 61}</string>
			<key>spriteSourceSize</key>
			<string>{87, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 65}, {87, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>