<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>bgColor</key>
			<string>WHITE</string>
			<key>bgSound</key>
			<dict>
				<key>filename</key>
				<string>ambience_scene_10.m4a</string>
				<key>volume</key>
				<integer>1</integer>
				<key>repeat</key>
				<true/>
			</dict>
			<key>static</key>
			<dict>
				<key>text</key>
				<dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{703,203},{296,387}}</string>
						<key>text</key>
						<string>     “We played Rattling Wheels and Whistling Whistles with you,” Bash said. “But you didn’t play with us. You can now if you want.” Thomas didn’t want to play with Bash, Dash, and Ferdinand. Their games were strange. “No thank you. I have to get back to the Island of Sodor.” And with that, Thomas wheeshed backwards down the track.</string>
						<key>z</key>
						<integer>30</integer>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>size</key>
						<integer>21</integer>
						<key>color</key>
						<string>BLACK</string>
						<key>linespacing</key>
						<integer>10</integer>
					</dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{703,203},{296,387}}</string>
						<key>text</key>
						<string>     “We played Rattling Wheels and Whistling Whistles with you,” Bash said. “But you didn’t play with us. You can now if you want.” Thomas didn’t want to play with Bash, Dash, and Ferdinand. Their games were strange. “No thank you. I have to get back to the Island of Sodor.” And with that, Thomas wheeshed backwards down the track.</string>
						<key>z</key>
						<integer>30</integer>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>size</key>
						<integer>21</integer>
						<key>color</key>
						<string>BLACK</string>
						<key>linespacing</key>
						<integer>10</integer>
					</dict>
				</dict>
				<key>background</key>
				<array>
					<dict>
						<key>name</key>
						<string>scene10_bash_smokestack</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene10_ferdinand_smokestack</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene10_dash_smokestack</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene10_bkg2</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene10_bash_holder</string>
						<key>children</key>
						<array/>
					</dict>
				</array>
			</dict>
			<key>animated</key>
			<dict>
				<key>objects</key>
				<array>
					<dict>
						<key>name</key>
						<string>scene10_bkg1</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>thomas</string>
						<key>children</key>
						<array>
							<dict>
								<key>name</key>
								<string>scene10_thomas_smoke</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>name</key>
								<string>scene10_thomas_smokestack</string>
								<key>children</key>
								<array/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>scene10_dash_smoke</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene10_ferdinand_smoke</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene10_bash_smoke</string>
						<key>children</key>
						<array/>
					</dict>
				</array>
				<key>fog</key>
				<dict>
					<key>x</key>
					<integer>370</integer>
					<key>y</key>
					<integer>200</integer>
					<key>width</key>
					<integer>740</integer>
					<key>height</key>
					<integer>450</integer>
					<key>z</key>
					<integer>32</integer>
					<key>density</key>
					<real>0.8</real>
					<key>turbulence</key>
					<real>0.1</real>
					<key>topBorder</key>
					<integer>20</integer>
					<key>bottomBorder</key>
					<integer>-1</integer>
					<key>noiseScaleX</key>
					<real>0.01</real>
					<key>noiseScaleY</key>
					<real>0.1</real>
					<key>spawnTop</key>
					<integer>0</integer>
					<key>spawnBottom</key>
					<integer>64</integer>
					<key>windSpeed</key>
					<integer>40</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene10_bkg1</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene10_bkg1</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>512</string>
			<key>y</key>
			<string>384</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>thomas</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene10_thomas</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<integer>119</integer>
			<key>y</key>
			<integer>364</integer>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<true/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>-1</real>
						<key>sound</key>
						<string>thomas_interactive_moveout_scene10.m4a</string>
						<key>duration</key>
						<real>2.708333333333333</real>
						<key>x</key>
						<real>-171.6</real>
						<key>y</key>
						<real>350.8</real>
					</dict>
					<dict>
						<key>ease</key>
						<integer>0</integer>
						<key>duration</key>
						<integer>3</integer>
						<key>x</key>
						<real>-171.6</real>
						<key>y</key>
						<real>350.8</real>
					</dict>
					<dict>
						<key>ease</key>
						<integer>0</integer>
						<key>fadeIncludesChildren</key>
						<true/>
						<key>duration</key>
						<integer>0</integer>
						<key>x</key>
						<integer>119</integer>
						<key>y</key>
						<integer>364</integer>
						<key>alpha</key>
						<string>0</string>
					</dict>
					<dict>
						<key>ease</key>
						<integer>0</integer>
						<key>fadeIncludesChildren</key>
						<true/>
						<key>duration</key>
						<integer>1</integer>
						<key>x</key>
						<integer>119</integer>
						<key>y</key>
						<integer>364</integer>
						<key>alpha</key>
						<string>1</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene10_bash_smoke</string>
		<key>z</key>
		<integer>6</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene10_bash_smoke</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>p0x</key>
			<integer>367</integer>
			<key>p0y</key>
			<integer>680</integer>
			<key>p1x</key>
			<integer>370</integer>
			<key>p1y</key>
			<integer>721</integer>
			<key>p2x</key>
			<integer>384</integer>
			<key>p2y</key>
			<integer>755</integer>
			<key>p3x</key>
			<integer>408</integer>
			<key>p3y</key>
			<integer>785</integer>
			<key>startSize</key>
			<integer>80</integer>
			<key>endSize</key>
			<integer>5</integer>
			<key>endSizeVar</key>
			<integer>40</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene10_ferdinand_smoke</string>
		<key>z</key>
		<integer>6</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene10_ferdinand_smoke</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>p0x</key>
			<integer>576</integer>
			<key>p0y</key>
			<integer>698</integer>
			<key>p1x</key>
			<integer>590</integer>
			<key>p1y</key>
			<integer>734</integer>
			<key>p2x</key>
			<integer>603</integer>
			<key>p2y</key>
			<integer>768</integer>
			<key>p3x</key>
			<integer>628</integer>
			<key>p3y</key>
			<integer>807</integer>
			<key>startSize</key>
			<integer>80</integer>
			<key>endSize</key>
			<integer>5</integer>
			<key>endSizeVar</key>
			<integer>40</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene10_dash_smoke</string>
		<key>z</key>
		<integer>18</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene10_dash_smoke</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>p0x</key>
			<integer>590</integer>
			<key>p0y</key>
			<integer>549</integer>
			<key>p1x</key>
			<integer>600</integer>
			<key>p1y</key>
			<integer>609</integer>
			<key>p2x</key>
			<integer>630</integer>
			<key>p2y</key>
			<integer>691</integer>
			<key>p3x</key>
			<integer>670</integer>
			<key>p3y</key>
			<integer>769</integer>
			<key>startSize</key>
			<integer>150</integer>
			<key>endSize</key>
			<integer>50</integer>
			<key>endSizeVar</key>
			<integer>40</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene10_bash_smokestack</string>
		<key>z</key>
		<integer>10</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene10_bash_smokestack</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>333</string>
			<key>y</key>
			<string>625</string>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene10_ferdinand_smokestack</string>
		<key>z</key>
		<integer>12</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene10_ferdinand_smokestack</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>543</string>
			<key>y</key>
			<string>653</string>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene10_dash_smokestack</string>
		<key>z</key>
		<integer>22</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene10_dash_smokestack</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>536</string>
			<key>y</key>
			<string>468</string>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene10_bkg2</string>
		<key>z</key>
		<integer>23</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene10_bkg2</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>592</string>
			<key>y</key>
			<string>0</string>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene10_bash_holder</string>
		<key>z</key>
		<integer>23</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene10_bash_holder</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>286</string>
			<key>y</key>
			<string>451</string>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<true/>
		</dict>
		<key>frameAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>texturedata</key>
				<string>scene10_bash_texture</string>
				<key>repeatForever</key>
				<false/>
				<key>visibleInactive</key>
				<true/>
				<key>returnToFirstFrame</key>
				<false/>
				<key>source</key>
				<dict>
					<key>forehead</key>
					<array>
						<dict>
							<key>sound</key>
							<string>bash_interactive_scene10_1.m4a</string>
							<key>frameRate</key>
							<string>24</string>
							<key>totalFrames</key>
							<string>65</string>
							<key>width</key>
							<string>83</string>
							<key>height</key>
							<string>91</string>
							<key>x</key>
							<string>45.5</string>
							<key>y</key>
							<string>75.7</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead3</string>
							<string>scene10_bash_forehead3</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead3</string>
							<string>scene10_bash_forehead3</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead2</string>
							<string>scene10_bash_forehead2</string>
							<string>scene10_bash_forehead2</string>
							<string>scene10_bash_forehead2</string>
							<string>scene10_bash_forehead2</string>
							<string>scene10_bash_forehead2</string>
							<string>scene10_bash_forehead2</string>
							<string>scene10_bash_forehead2</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
							<string>scene10_bash_forehead1</string>
						</array>
					</array>
					<key>eye</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>totalFrames</key>
							<string>65</string>
							<key>width</key>
							<string>59</string>
							<key>height</key>
							<string>32</string>
							<key>x</key>
							<string>37.6</string>
							<key>y</key>
							<string>70.1</string>
							<key>z</key>
							<integer>8</integer>
						</dict>
						<array>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye2</string>
							<string>scene10_bash_eye2</string>
							<string>scene10_bash_eye3</string>
							<string>scene10_bash_eye3</string>
							<string>scene10_bash_eye3</string>
							<string>scene10_bash_eye3</string>
							<string>scene10_bash_eye3</string>
							<string>scene10_bash_eye3</string>
							<string>scene10_bash_eye3</string>
							<string>scene10_bash_eye3</string>
							<string>scene10_bash_eye3</string>
							<string>scene10_bash_eye2</string>
							<string>scene10_bash_eye2</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
							<string>scene10_bash_eye1</string>
						</array>
					</array>
					<key>mouth</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>totalFrames</key>
							<string>65</string>
							<key>width</key>
							<string>87</string>
							<key>height</key>
							<string>61</string>
							<key>x</key>
							<string>43.5</string>
							<key>y</key>
							<string>30.5</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth2</string>
							<string>scene10_bash_mouth2</string>
							<string>scene10_bash_mouth7</string>
							<string>scene10_bash_mouth8</string>
							<string>scene10_bash_mouth2</string>
							<string>scene10_bash_mouth2</string>
							<string>scene10_bash_mouth2</string>
							<string>scene10_bash_mouth8</string>
							<string>scene10_bash_mouth5</string>
							<string>scene10_bash_mouth5</string>
							<string>scene10_bash_mouth3</string>
							<string>scene10_bash_mouth3</string>
							<string>scene10_bash_mouth3</string>
							<string>scene10_bash_mouth2</string>
							<string>scene10_bash_mouth2</string>
							<string>scene10_bash_mouth6</string>
							<string>scene10_bash_mouth6</string>
							<string>scene10_bash_mouth7</string>
							<string>scene10_bash_mouth7</string>
							<string>scene10_bash_mouth5</string>
							<string>scene10_bash_mouth5</string>
							<string>scene10_bash_mouth4</string>
							<string>scene10_bash_mouth4</string>
							<string>scene10_bash_mouth3</string>
							<string>scene10_bash_mouth3</string>
							<string>scene10_bash_mouth3</string>
							<string>scene10_bash_mouth3</string>
							<string>scene10_bash_mouth3</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
							<string>scene10_bash_mouth1</string>
						</array>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene10_thomas_smoke</string>
		<key>z</key>
		<integer>6</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene10_thomas_smoke</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>p0x</key>
			<integer>70</integer>
			<key>p0y</key>
			<integer>446</integer>
			<key>p1x</key>
			<integer>55</integer>
			<key>p1y</key>
			<integer>500</integer>
			<key>p2x</key>
			<integer>38</integer>
			<key>p2y</key>
			<integer>552</integer>
			<key>p3x</key>
			<integer>4</integer>
			<key>p3y</key>
			<integer>592</integer>
			<key>startSize</key>
			<integer>50</integer>
			<key>endSize</key>
			<integer>100</integer>
			<key>endSizeVar</key>
			<integer>100</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene10_thomas_smokestack</string>
		<key>z</key>
		<integer>44</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene10_thomas_smokestack</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>44</string>
			<key>y</key>
			<string>140</string>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
