<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>animated</key>
			<dict>
				<key>fog</key>
				<dict>
					<key>bottomBorder</key>
					<integer>-1</integer>
					<key>density</key>
					<real>0.8</real>
					<key>force</key>
					<integer>500</integer>
					<key>height</key>
					<integer>650</integer>
					<key>noiseScaleX</key>
					<real>0.01</real>
					<key>noiseScaleY</key>
					<real>0.1</real>
					<key>reveal</key>
					<dict>
						<key>duration</key>
						<integer>6</integer>
						<key>start</key>
						<integer>1</integer>
					</dict>
					<key>spawnBottom</key>
					<integer>64</integer>
					<key>spawnTop</key>
					<integer>0</integer>
					<key>topBorder</key>
					<integer>32</integer>
					<key>turbulence</key>
					<real>0.1</real>
					<key>viscosity</key>
					<real>1.5</real>
					<key>width</key>
					<integer>800</integer>
					<key>windSpeed</key>
					<integer>40</integer>
					<key>x</key>
					<integer>680</integer>
					<key>y</key>
					<integer>250</integer>
					<key>z</key>
					<integer>60</integer>
				</dict>
				<key>objects</key>
				<array>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene9_thomas_smoke</string>
							</dict>
						</array>
						<key>name</key>
						<string>thomas</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>bash</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>ferdinand</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>dash</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene9_ferdinand_smoke</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene9_dash_smoke</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene9_bash_smoke</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>bashtrigger</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>ferdinandtrigger</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>dashtrigger</string>
					</dict>
				</array>
			</dict>
			<key>bgColor</key>
			<string>WHITE</string>
			<key>bgSound</key>
			<dict>
				<key>filename</key>
				<string>ambience_scene_9.m4a</string>
				<key>repeat</key>
				<true/>
				<key>volume</key>
				<integer>1</integer>
			</dict>
			<key>static</key>
			<dict>
				<key>background</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene9_bkg1</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene9_bkg2</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene9_combinedsmockestacks</string>
					</dict>
				</array>
				<key>text</key>
				<dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{34,223},{296,325}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Georgia</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>overlayText</key>
						<string>Thomas had come buffer-to-buffer with three of the strangest engines he’d ever seen. Their names were Bash, Dash, and Ferdinand. They told Thomas that he was on Misty Island. “We’re the Logging Locos,” said Dash.</string>
						<key>size</key>
						<integer>19</integer>
						<key>text</key>
						<string>      Thomas had come buffer-to-buffer with three of the strangest engines he’d ever seen. Their names were Bash, Dash, and Ferdinand. They told Thomas that he was on Misty Island. “We’re the Logging Locos,” said Dash.</string>
						<key>z</key>
						<integer>80</integer>
					</dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{34,223},{296,325}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Georgia</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>overlayText</key>
						<string>Thomas had come fender-to-fender with three of the strangest engines he’d ever seen. Their names were Bash, Dash, and Ferdinand. They told Thomas that he was on Misty Island. “We’re the Logging Locos,” said Dash.</string>
						<key>size</key>
						<integer>19</integer>
						<key>text</key>
						<string>      Thomas had come fender-to-fender with three of the strangest engines he’d ever seen. Their names were Bash, Dash, and Ferdinand. They told Thomas that he was on Misty Island. “We’re the Logging Locos,” said Dash.</string>
						<key>z</key>
						<integer>80</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>thomas</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene9_thomas</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1.212</real>
			<key>scaleY</key>
			<real>1.212</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.4998336106489184</real>
			<key>x</key>
			<real>496.95</real>
			<key>y</key>
			<real>57</real>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>3.458333333333333</real>
						<key>ease</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>sound</key>
						<string>thomas_startanimation_scene_9.m4a</string>
						<key>x</key>
						<real>602.05</real>
						<key>y</key>
						<real>257.15</real>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>start</string>
			</dict>
		</array>
		<key>z</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene9_bkg1</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene9_bkg1</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<string>512</string>
			<key>y</key>
			<string>384</string>
		</dict>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene9_thomas_smoke</string>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>120</integer>
			<key>endSizeVar</key>
			<integer>60</integer>
			<key>name</key>
			<string>scene9_thomas_smoke</string>
			<key>p0x</key>
			<integer>296</integer>
			<key>p0y</key>
			<integer>599</integer>
			<key>p1x</key>
			<integer>280</integer>
			<key>p1y</key>
			<integer>631</integer>
			<key>p2x</key>
			<integer>230</integer>
			<key>p2y</key>
			<integer>567</integer>
			<key>p3x</key>
			<integer>150</integer>
			<key>p3y</key>
			<integer>453</integer>
			<key>startSize</key>
			<integer>30</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene9_bkg2</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene9_bkg2</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<string>267</string>
			<key>y</key>
			<string>384</string>
		</dict>
		<key>z</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>frameAnimations</key>
		<array>
			<dict>
				<key>repeatForever</key>
				<false/>
				<key>source</key>
				<dict>
					<key>eye</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>24</string>
							<key>totalFrames</key>
							<string>7</string>
							<key>width</key>
							<string>48</string>
							<key>x</key>
							<string>570.05</string>
							<key>y</key>
							<string>537</string>
							<key>z</key>
							<integer>14</integer>
						</dict>
						<array>
							<string>scene9_bash_eye1</string>
							<string>scene9_bash_eye1</string>
							<string>scene9_bash_eye2</string>
							<string>scene9_bash_eye2</string>
							<string>scene9_bash_eye2</string>
							<string>scene9_bash_eye1</string>
							<string>scene9_bash_eye1</string>
						</array>
					</array>
					<key>forehead</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>45</string>
							<key>sound</key>
							<string>bash_interactive_scene09_1.m4a</string>
							<key>totalFrames</key>
							<string>10</string>
							<key>width</key>
							<string>62</string>
							<key>x</key>
							<string>565.95</string>
							<key>y</key>
							<string>543.4</string>
							<key>z</key>
							<integer>15</integer>
						</dict>
						<array>
							<string>scene9_bash_forehead1</string>
							<string>scene9_bash_forehead1</string>
							<string>scene9_bash_forehead1</string>
							<string>scene9_bash_forehead2</string>
							<string>scene9_bash_forehead2</string>
							<string>scene9_bash_forehead2</string>
							<string>scene9_bash_forehead3</string>
							<string>scene9_bash_forehead3</string>
							<string>scene9_bash_forehead3</string>
							<string>scene9_bash_forehead1</string>
						</array>
					</array>
					<key>mouth</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>33</string>
							<key>totalFrames</key>
							<string>12</string>
							<key>width</key>
							<string>63</string>
							<key>x</key>
							<string>566.5</string>
							<key>y</key>
							<string>512.5</string>
							<key>z</key>
							<integer>13</integer>
						</dict>
						<array>
							<string>scene9_bash_mouth1</string>
							<string>scene9_bash_mouth2</string>
							<string>scene9_bash_mouth2</string>
							<string>scene9_bash_mouth3</string>
							<string>scene9_bash_mouth3</string>
							<string>scene9_bash_mouth3</string>
							<string>scene9_bash_mouth4</string>
							<string>scene9_bash_mouth4</string>
							<string>scene9_bash_mouth4</string>
							<string>scene9_bash_mouth4</string>
							<string>scene9_bash_mouth1</string>
							<string>scene9_bash_mouth1</string>
						</array>
					</array>
				</dict>
				<key>texturedata</key>
				<string>scene9-texture</string>
				<key>type</key>
				<string>interactive</string>
			</dict>
		</array>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>bash</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene9_placeholder</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>frameAnimations</key>
		<array>
			<dict>
				<key>repeatForever</key>
				<false/>
				<key>source</key>
				<dict>
					<key>eye</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>20</string>
							<key>totalFrames</key>
							<string>9</string>
							<key>width</key>
							<string>57</string>
							<key>x</key>
							<string>733.5</string>
							<key>y</key>
							<string>559</string>
							<key>z</key>
							<integer>8</integer>
						</dict>
						<array>
							<string>scene9_ferdinand_eyes1</string>
							<string>scene9_ferdinand_eyes1</string>
							<string>scene9_ferdinand_eyes1</string>
							<string>scene9_ferdinand_eyes2</string>
							<string>scene9_ferdinand_eyes2</string>
							<string>scene9_ferdinand_eyes3</string>
							<string>scene9_ferdinand_eyes3</string>
							<string>scene9_ferdinand_eyes1</string>
							<string>scene9_ferdinand_eyes1</string>
						</array>
					</array>
					<key>forehead</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>49</string>
							<key>sound</key>
							<string>ferdinand_interactive_scene09_3.m4a</string>
							<key>totalFrames</key>
							<string>20</string>
							<key>width</key>
							<string>74</string>
							<key>x</key>
							<string>735</string>
							<key>y</key>
							<string>565.5</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene9_ferdinand_forehead1</string>
							<string>scene9_ferdinand_forehead1</string>
							<string>scene9_ferdinand_forehead2</string>
							<string>scene9_ferdinand_forehead2</string>
							<string>scene9_ferdinand_forehead3</string>
							<string>scene9_ferdinand_forehead3</string>
							<string>scene9_ferdinand_forehead3</string>
							<string>scene9_ferdinand_forehead3</string>
							<string>scene9_ferdinand_forehead3</string>
							<string>scene9_ferdinand_forehead3</string>
							<string>scene9_ferdinand_forehead3</string>
							<string>scene9_ferdinand_forehead3</string>
							<string>scene9_ferdinand_forehead3</string>
							<string>scene9_ferdinand_forehead3</string>
							<string>scene9_ferdinand_forehead3</string>
							<string>scene9_ferdinand_forehead2</string>
							<string>scene9_ferdinand_forehead2</string>
							<string>scene9_ferdinand_forehead2</string>
							<string>scene9_ferdinand_forehead2</string>
							<string>scene9_ferdinand_forehead1</string>
						</array>
					</array>
					<key>mouth</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>26</string>
							<key>totalFrames</key>
							<string>28</string>
							<key>width</key>
							<string>74</string>
							<key>x</key>
							<string>735</string>
							<key>y</key>
							<string>528</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene9_ferdinand_mouth1</string>
							<string>scene9_ferdinand_mouth1</string>
							<string>scene9_ferdinand_mouth2</string>
							<string>scene9_ferdinand_mouth2</string>
							<string>scene9_ferdinand_mouth3</string>
							<string>scene9_ferdinand_mouth3</string>
							<string>scene9_ferdinand_mouth5</string>
							<string>scene9_ferdinand_mouth5</string>
							<string>scene9_ferdinand_mouth4</string>
							<string>scene9_ferdinand_mouth4</string>
							<string>scene9_ferdinand_mouth3</string>
							<string>scene9_ferdinand_mouth3</string>
							<string>scene9_ferdinand_mouth2</string>
							<string>scene9_ferdinand_mouth2</string>
							<string>scene9_ferdinand_mouth5</string>
							<string>scene9_ferdinand_mouth5</string>
							<string>scene9_ferdinand_mouth5</string>
							<string>scene9_ferdinand_mouth5</string>
							<string>scene9_ferdinand_mouth5</string>
							<string>scene9_ferdinand_mouth3</string>
							<string>scene9_ferdinand_mouth3</string>
							<string>scene9_ferdinand_mouth2</string>
							<string>scene9_ferdinand_mouth2</string>
							<string>scene9_ferdinand_mouth2</string>
							<string>scene9_ferdinand_mouth2</string>
							<string>scene9_ferdinand_mouth2</string>
							<string>scene9_ferdinand_mouth1</string>
							<string>scene9_ferdinand_mouth1</string>
						</array>
					</array>
				</dict>
				<key>texturedata</key>
				<string>scene9-texture</string>
				<key>type</key>
				<string>interactive</string>
			</dict>
		</array>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>ferdinand</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene9_placeholder</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>frameAnimations</key>
		<array>
			<dict>
				<key>repeatForever</key>
				<false/>
				<key>source</key>
				<dict>
					<key>eye</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>19</string>
							<key>totalFrames</key>
							<string>7</string>
							<key>width</key>
							<string>56</string>
							<key>x</key>
							<string>889.75</string>
							<key>y</key>
							<string>529.4</string>
							<key>z</key>
							<integer>8</integer>
						</dict>
						<array>
							<string>scene9_dash_eyes1</string>
							<string>scene9_dash_eyes1</string>
							<string>scene9_dash_eyes2</string>
							<string>scene9_dash_eyes2</string>
							<string>scene9_dash_eyes2</string>
							<string>scene9_dash_eyes1</string>
							<string>scene9_dash_eyes1</string>
						</array>
					</array>
					<key>forehead</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>45</string>
							<key>sound</key>
							<string>dash_interactive_scene09_2.m4a</string>
							<key>totalFrames</key>
							<string>32</string>
							<key>width</key>
							<string>68</string>
							<key>x</key>
							<string>891</string>
							<key>y</key>
							<string>537.5</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene9_dash_forehead1</string>
							<string>scene9_dash_forehead1</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead3</string>
							<string>scene9_dash_forehead3</string>
							<string>scene9_dash_forehead3</string>
							<string>scene9_dash_forehead3</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
							<string>scene9_dash_forehead2</string>
						</array>
					</array>
					<key>mouth</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>32</string>
							<key>totalFrames</key>
							<string>14</string>
							<key>width</key>
							<string>68</string>
							<key>x</key>
							<string>891</string>
							<key>y</key>
							<string>504</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene9_dash_mouth1</string>
							<string>scene9_dash_mouth1</string>
							<string>scene9_dash_mouth2</string>
							<string>scene9_dash_mouth2</string>
							<string>scene9_dash_mouth3</string>
							<string>scene9_dash_mouth3</string>
							<string>scene9_dash_mouth3</string>
							<string>scene9_dash_mouth4</string>
							<string>scene9_dash_mouth4</string>
							<string>scene9_dash_mouth4</string>
							<string>scene9_dash_mouth4</string>
							<string>scene9_dash_mouth1</string>
							<string>scene9_dash_mouth1</string>
							<string>scene9_dash_mouth1</string>
						</array>
					</array>
				</dict>
				<key>texturedata</key>
				<string>scene9-texture</string>
				<key>type</key>
				<string>interactive</string>
				<key>visibleInactive</key>
				<false/>
			</dict>
		</array>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>dash</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene9_placeholder</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene9_bash_smoke</string>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>90</integer>
			<key>endSizeVar</key>
			<integer>10</integer>
			<key>name</key>
			<string>scene9_bash_smoke</string>
			<key>p0x</key>
			<integer>554</integer>
			<key>p0y</key>
			<integer>648</integer>
			<key>p1x</key>
			<integer>550</integer>
			<key>p1y</key>
			<integer>674</integer>
			<key>p2x</key>
			<integer>518</integer>
			<key>p2y</key>
			<integer>715</integer>
			<key>p3x</key>
			<integer>463</integer>
			<key>p3y</key>
			<integer>763</integer>
			<key>startSize</key>
			<integer>60</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene9_ferdinand_smoke</string>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>40</integer>
			<key>endSizeVar</key>
			<integer>10</integer>
			<key>name</key>
			<string>scene9_ferdinand_smoke</string>
			<key>p0x</key>
			<integer>744</integer>
			<key>p0y</key>
			<integer>672</integer>
			<key>p1x</key>
			<integer>750</integer>
			<key>p1y</key>
			<integer>697</integer>
			<key>p2x</key>
			<integer>777</integer>
			<key>p2y</key>
			<integer>731</integer>
			<key>p3x</key>
			<integer>809</integer>
			<key>p3y</key>
			<integer>765</integer>
			<key>startSize</key>
			<integer>60</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene9_dash_smoke</string>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>40</integer>
			<key>endSizeVar</key>
			<integer>20</integer>
			<key>name</key>
			<string>scene9_dash_smoke</string>
			<key>p0x</key>
			<integer>908</integer>
			<key>p0y</key>
			<integer>637</integer>
			<key>p1x</key>
			<integer>909</integer>
			<key>p1y</key>
			<integer>677</integer>
			<key>p2x</key>
			<integer>952</integer>
			<key>p2y</key>
			<integer>714</integer>
			<key>p3x</key>
			<integer>994</integer>
			<key>p3y</key>
			<integer>756</integer>
			<key>startSize</key>
			<integer>60</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>frameAnimations</key>
			<array>
				<dict>
					<key>repeatForever</key>
					<false/>
					<key>source</key>
					<dict>
						<key>eye</key>
						<array>
							<dict>
								<key>frameRate</key>
								<string>24</string>
								<key>height</key>
								<string>24</string>
								<key>totalFrames</key>
								<string>83</string>
								<key>width</key>
								<string>48</string>
								<key>x</key>
								<string>570.05</string>
								<key>y</key>
								<string>726.2</string>
								<key>z</key>
								<integer>11</integer>
							</dict>
							<array>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye2</string>
								<string>scene9_bash_eye2</string>
								<string>scene9_bash_eye2</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
								<string>scene9_bash_eye1</string>
							</array>
						</array>
						<key>forehead</key>
						<array>
							<dict>
								<key>frameRate</key>
								<string>24</string>
								<key>height</key>
								<string>45</string>
								<key>totalFrames</key>
								<string>83</string>
								<key>width</key>
								<string>62</string>
								<key>x</key>
								<string>565.95</string>
								<key>y</key>
								<string>732.6</string>
								<key>z</key>
								<integer>10</integer>
							</dict>
							<array>
								<string>scene9_bash_forehead1</string>
								<string>scene9_bash_forehead1</string>
								<string>scene9_bash_forehead1</string>
								<string>scene9_bash_forehead1</string>
								<string>scene9_bash_forehead2</string>
								<string>scene9_bash_forehead2</string>
								<string>scene9_bash_forehead2</string>
								<string>scene9_bash_forehead2</string>
								<string>scene9_bash_forehead3</string>
								<string>scene9_bash_forehead3</string>
								<string>scene9_bash_forehead3</string>
								<string>scene9_bash_forehead3</string>
								<string>scene9_bash_forehead1</string>
								<string>scene9_bash_forehead1</string>
								<string>scene9_bash_forehead1</string>
								<string>scene9_bash_forehead1</string>
								<string>scene9_bash_forehead1</string>
								<string>scene9_bash_forehead1</string>
								<string>scene9_bash_forehead1</string>
								<string>scene9_bash_forehead1</string>
								<string>scene9_bash_forehead1</string>
								<string>scene9_bash_forehead1</string>
							</array>
						</array>
						<key>mouth</key>
						<array>
							<dict>
								<key>frameRate</key>
								<string>24</string>
								<key>height</key>
								<string>33</string>
								<key>totalFrames</key>
								<string>83</string>
								<key>width</key>
								<string>63</string>
								<key>x</key>
								<string>566.5</string>
								<key>y</key>
								<string>701.7</string>
								<key>z</key>
								<integer>12</integer>
							</dict>
							<array>
								<string>scene9_bash_mouth1</string>
								<string>scene9_bash_mouth1</string>
								<string>scene9_bash_mouth1</string>
								<string>scene9_bash_mouth2</string>
								<string>scene9_bash_mouth2</string>
								<string>scene9_bash_mouth2</string>
								<string>scene9_bash_mouth3</string>
								<string>scene9_bash_mouth3</string>
								<string>scene9_bash_mouth3</string>
								<string>scene9_bash_mouth4</string>
								<string>scene9_bash_mouth4</string>
								<string>scene9_bash_mouth4</string>
								<string>scene9_bash_mouth1</string>
								<string>scene9_bash_mouth1</string>
								<string>scene9_bash_mouth1</string>
								<string>scene9_bash_mouth1</string>
								<string>scene9_bash_mouth1</string>
								<string>scene9_bash_mouth1</string>
								<string>scene9_bash_mouth1</string>
								<string>scene9_bash_mouth1</string>
								<string>scene9_bash_mouth1</string>
								<string>scene9_bash_mouth1</string>
							</array>
						</array>
					</dict>
					<key>texturedata</key>
					<string>scene9_dash_texture</string>
					<key>type</key>
					<string>start</string>
				</dict>
			</array>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>scene9_combinedsmockestacks</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene9_combinedsmockestacks</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<integer>531</integer>
			<key>y</key>
			<integer>591</integer>
		</dict>
		<key>z</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>bash</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>name</key>
		<string>bashtrigger</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene9_animationtrigger</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>526</string>
			<key>y</key>
			<string>491</string>
		</dict>
		<key>z</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>ferdinand</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>name</key>
		<string>ferdinandtrigger</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene9_animationtrigger</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>702</string>
			<key>y</key>
			<string>515</string>
		</dict>
		<key>z</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>dash</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>name</key>
		<string>dashtrigger</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene9_animationtrigger</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>861</string>
			<key>y</key>
			<string>493</string>
		</dict>
		<key>z</key>
		<integer>30</integer>
	</dict>
</array>
</plist>
