<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>bgColor</key>
			<string>BLACK</string>
			<key>bgSound</key>
			<dict>
				<key>filename</key>
				<string>thomas_loop_scene11.m4a</string>
				<key>volume</key>
				<real>0.4</real>
				<key>repeat</key>
				<true/>
			</dict>
			<key>static</key>
			<dict>
				<key>text</key>
				<dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{30,161},{304,387}}</string>
						<key>text</key>
						<string>     The next morning, on Sodor, Sir Topham Hatt learned that Thomas was missing. The engines searched all over Sodor. After a scary night alone, Thomas spent the next day looking for the Logging Locos. Then, overlooking a deep valley, Thomas discovered an old logging camp.</string>
						<key>z</key>
						<integer>40</integer>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>size</key>
						<integer>21</integer>
						<key>color</key>
						<string>BLACK</string>
						<key>linespacing</key>
						<integer>10</integer>
					</dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{30,161},{304,387}}</string>
						<key>text</key>
						<string>     The next morning, on Sodor, The Fat Controller learned that Thomas was missing. The engines searched all over Sodor. After a scary night alone, Thomas spent the next day looking for the Logging Locos. Then, overlooking a deep valley, Thomas discovered an old logging camp.</string>
						<key>z</key>
						<integer>40</integer>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>size</key>
						<integer>21</integer>
						<key>color</key>
						<string>BLACK</string>
						<key>linespacing</key>
						<integer>10</integer>
					</dict>
				</dict>
				<key>background</key>
				<array>
					<dict>
						<key>name</key>
						<string>scene11_bkg1</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene11_bkg2</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene11_thomas_trainbody</string>
						<key>children</key>
						<array/>
					</dict>
				</array>
			</dict>
			<key>animated</key>
			<dict>
				<key>objects</key>
				<array>
					<dict>
						<key>name</key>
						<string>scene11_bkgtiled1</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene11_bkgtiled2</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>track</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>wheels</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>smoke</string>
						<key>children</key>
						<array/>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene11_bkg1</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene11_bkg1</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>512</string>
			<key>y</key>
			<string>384</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene11_bkg2</string>
		<key>z</key>
		<integer>35</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene11_bkg2</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>182</string>
			<key>y</key>
			<string>384</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene11_thomas_trainbody</string>
		<key>z</key>
		<integer>20</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene11_train_body</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>622</string>
			<key>y</key>
			<string>311.5</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene11_bkgtiled1</string>
		<key>z</key>
		<integer>2</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene11_bkgtiled</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>640</real>
			<key>y</key>
			<real>384</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<true/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>1.708333333333333</real>
						<key>x</key>
						<real>-127.05</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<integer>0</integer>
						<key>x</key>
						<integer>640</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene11_bkgtiled2</string>
		<key>z</key>
		<integer>3</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene11_bkgtiled</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<integer>1408</integer>
			<key>y</key>
			<real>384</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<true/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>1.708333333333333</real>
						<key>x</key>
						<real>640</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<integer>0</integer>
						<key>x</key>
						<integer>1408</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>track</string>
		<key>z</key>
		<integer>15</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene11_placeholder</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>frameAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>texturedata</key>
				<string>scene11_wheels</string>
				<key>repeatForever</key>
				<true/>
				<key>visibleInactive</key>
				<true/>
				<key>source</key>
				<dict>
					<key>track</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>totalFrames</key>
							<string>3</string>
							<key>width</key>
							<string>507</string>
							<key>height</key>
							<string>116</string>
							<key>x</key>
							<string>565.5</string>
							<key>y</key>
							<string>57</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene11_track1</string>
							<string>scene11_track2</string>
							<string>scene11_track3</string>
						</array>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>wheels</string>
		<key>z</key>
		<integer>18</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene11_placeholder</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<integer>567</integer>
			<key>y</key>
			<integer>56</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>frameAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>texturedata</key>
				<string>scene11_wheels</string>
				<key>repeatForever</key>
				<true/>
				<key>visibleInactive</key>
				<true/>
				<key>source</key>
				<dict>
					<key>track</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>18</string>
							<key>totalFrames</key>
							<string>10</string>
							<key>width</key>
							<string>621</string>
							<key>height</key>
							<string>287</string>
							<key>x</key>
							<string>34</string>
							<key>y</key>
							<string>88</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene_11_wheels1</string>
							<string>scene_11_wheels2</string>
							<string>scene_11_wheels3</string>
							<string>scene_11_wheels4</string>
							<string>scene_11_wheels5</string>
							<string>scene_11_wheels6</string>
							<string>scene_11_wheels7</string>
							<string>scene_11_wheels8</string>
							<string>scene_11_wheels9</string>
							<string>scene_11_wheels10</string>
						</array>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>smoke</string>
		<key>z</key>
		<integer>6</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene11_smoke</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>p0x</key>
			<integer>833</integer>
			<key>p0y</key>
			<integer>585</integer>
			<key>p1x</key>
			<integer>883</integer>
			<key>p1y</key>
			<integer>683</integer>
			<key>p2x</key>
			<integer>757</integer>
			<key>p2y</key>
			<integer>704</integer>
			<key>p3x</key>
			<integer>379</integer>
			<key>p3y</key>
			<integer>614</integer>
			<key>startSize</key>
			<integer>34</integer>
			<key>endSize</key>
			<integer>100</integer>
			<key>endSizeVar</key>
			<integer>100</integer>
		</dict>
	</dict>
</array>
</plist>
