<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>bgColor</key>
			<string>WHITE</string>
			<key>bgSound</key>
			<dict>
				<key>filename</key>
				<string>ambience_scene_14.m4a</string>
				<key>volume</key>
				<integer>1</integer>
				<key>repeat</key>
				<true/>
			</dict>
			<key>static</key>
			<dict>
				<key>text</key>
				<dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{714,209},{285,352}}</string>
						<key>text</key>
						<string>     “We can’t work this hard,” said Dash. “We’ll run out of oil,” said Bash. The Logging Locos weren’t diesels, but they used wood and oil for fuel. “I’m sure you have enough oil,” Thomas reassured them. “Sir Topham Hatt says I make good decisions.”</string>
						<key>z</key>
						<integer>43</integer>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>size</key>
						<integer>21</integer>
						<key>color</key>
						<string>BLACK</string>
						<key>linespacing</key>
						<integer>10</integer>
					</dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{714,209},{285,352}}</string>
						<key>text</key>
						<string>     “We can’t work this hard,” said Dash. “We’ll run out of oil,” said Bash. The Logging Locos weren’t diesels, but they used wood and oil for fuel. “I’m sure you have enough oil,” Thomas reassured them. “The Fat Controller says I make good decisions.”</string>
						<key>z</key>
						<integer>43</integer>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>size</key>
						<integer>21</integer>
						<key>color</key>
						<string>BLACK</string>
						<key>linespacing</key>
						<integer>10</integer>
					</dict>
				</dict>
				<key>background</key>
				<array>
					<dict>
						<key>name</key>
						<string>scene14_bkg1</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene14_bkg2</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene14_bkg3</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene14_bkg4</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene14_bkg5</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene14_bkg6</string>
						<key>children</key>
						<array/>
					</dict>
				</array>
			</dict>
			<key>animated</key>
			<dict>
				<key>objects</key>
				<array>
					<dict>
						<key>name</key>
						<string>thomas</string>
						<key>children</key>
						<array>
							<dict>
								<key>name</key>
								<string>scene14_thomas_smoke</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>name</key>
								<string>scene14_thomas_smokestack</string>
								<key>children</key>
								<array/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>bash</string>
						<key>children</key>
						<array>
							<dict>
								<key>name</key>
								<string>scene14_bash_smoke</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>name</key>
								<string>scene14_bash_smokestack</string>
								<key>children</key>
								<array/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>dash</string>
						<key>children</key>
						<array>
							<dict>
								<key>name</key>
								<string>scene14_dash_smoke</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>name</key>
								<string>scene14_dash_smokestack</string>
								<key>children</key>
								<array/>
							</dict>
						</array>
					</dict>
				</array>
				<key>fog</key>
				<dict>
					<key>x</key>
					<integer>370</integer>
					<key>y</key>
					<integer>430</integer>
					<key>width</key>
					<integer>740</integer>
					<key>height</key>
					<integer>700</integer>
					<key>z</key>
					<integer>40</integer>
					<key>density</key>
					<real>0.9</real>
					<key>turbulence</key>
					<real>0.1</real>
					<key>topBorder</key>
					<integer>-1</integer>
					<key>bottomBorder</key>
					<integer>32</integer>
					<key>noiseScaleX</key>
					<real>0.01</real>
					<key>noiseScaleY</key>
					<real>0.1</real>
					<key>spawnTop</key>
					<integer>0</integer>
					<key>spawnBottom</key>
					<integer>64</integer>
					<key>windSpeed</key>
					<integer>20</integer>
					<key>reveal</key>
					<dict>
						<key>start</key>
						<integer>1</integer>
						<key>duration</key>
						<integer>5</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene14_bkg1</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_bkg1</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>438.5</string>
			<key>y</key>
			<string>384</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene14_bkg2</string>
		<key>z</key>
		<integer>21</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_bkg2</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>92</string>
			<key>y</key>
			<string>303.05</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene14_bkg3</string>
		<key>z</key>
		<integer>27</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_bkg3</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>191</string>
			<key>y</key>
			<string>236</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene14_bkg4</string>
		<key>z</key>
		<integer>21</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_bkg4</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>651.5</string>
			<key>y</key>
			<string>182</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene14_bkg5</string>
		<key>z</key>
		<integer>42</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_bkg5</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>834.5</string>
			<key>y</key>
			<string>384</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene14_bkg6</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_bkg6</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>512</string>
			<key>y</key>
			<string>595</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>thomas</string>
		<key>z</key>
		<integer>16</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_thomas</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>791</real>
			<key>y</key>
			<real>260</real>
			<key>transformationPointX</key>
			<real>0.3685503685503685</real>
			<key>transformationPointY</key>
			<real>0.6567164179104478</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>1</real>
						<key>sound</key>
						<string>thomas_startanimation_scene_14.m4a</string>
						<key>duration</key>
						<real>2.666666666666667</real>
						<key>x</key>
						<real>581</real>
						<key>y</key>
						<real>220</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>dash</string>
		<key>z</key>
		<integer>20</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_dash</string>
			<key>scaleX</key>
			<real>0.616</real>
			<key>scaleY</key>
			<real>0.616</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>-102</real>
			<key>y</key>
			<real>416.05</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>1</real>
						<key>sound</key>
						<string>dash_startanimation_scene_14.m4a</string>
						<key>duration</key>
						<real>4.291666666666667</real>
						<key>x</key>
						<real>262</real>
						<key>y</key>
						<real>232.0499999999999</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>bash</string>
		<key>z</key>
		<integer>25</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_bash</string>
			<key>scaleX</key>
			<real>0.593</real>
			<key>scaleY</key>
			<real>0.593</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>-126.7</real>
			<key>y</key>
			<real>382.55</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.4998251748251747</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>1</real>
						<key>sound</key>
						<string>bash_startanimations_scene_14.m4a</string>
						<key>duration</key>
						<real>2.916666666666667</real>
						<key>x</key>
						<real>117.3</real>
						<key>y</key>
						<real>213.55</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>thomas</string>
		<key>z</key>
		<integer>19</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_thomas</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>791</real>
			<key>y</key>
			<real>260</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>1</real>
						<key>duration</key>
						<real>2.666666666666667</real>
						<key>x</key>
						<real>581</real>
						<key>y</key>
						<real>220</real>
					</dict>
				</array>
			</dict>
		</array>
		<key>frameAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>texturedata</key>
				<string>scene14_thomas_texture</string>
				<key>repeatForever</key>
				<false/>
				<key>source</key>
				<dict>
					<key>forehead</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>sound</key>
							<string>Scene14_1.wav</string>
							<key>totalFrames</key>
							<string>101</string>
							<key>width</key>
							<string>55</string>
							<key>height</key>
							<string>58</string>
							<key>x</key>
							<string>74.5</string>
							<key>y</key>
							<string>155</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_01</string>
							<string>scene14_thomas_forehead_01</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_03</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_01</string>
							<string>scene14_thomas_forehead_01</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
							<string>scene14_thomas_forehead_02</string>
						</array>
					</array>
					<key>eye</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>totalFrames</key>
							<string>101</string>
							<key>width</key>
							<string>36</string>
							<key>height</key>
							<string>30</string>
							<key>x</key>
							<string>69</string>
							<key>y</key>
							<string>149</string>
							<key>z</key>
							<integer>8</integer>
						</dict>
						<array>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_05</string>
							<string>scene14_thomas_eyes_05</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_06</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_03</string>
							<string>scene14_thomas_eyes_03</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_04</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_02</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
							<string>scene14_thomas_eyes_01</string>
						</array>
					</array>
					<key>mouth</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>totalFrames</key>
							<string>101</string>
							<key>width</key>
							<string>57</string>
							<key>height</key>
							<string>34</string>
							<key>x</key>
							<string>73.5</string>
							<key>y</key>
							<string>123</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_04</string>
							<string>scene14_thomas_mouth_05</string>
							<string>scene14_thomas_mouth_05</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_09</string>
							<string>scene14_thomas_mouth_09</string>
							<string>scene14_thomas_mouth_09</string>
							<string>scene14_thomas_mouth_04</string>
							<string>scene14_thomas_mouth_04</string>
							<string>scene14_thomas_mouth_05</string>
							<string>scene14_thomas_mouth_05</string>
							<string>scene14_thomas_mouth_05</string>
							<string>scene14_thomas_mouth_05</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_08</string>
							<string>scene14_thomas_mouth_08</string>
							<string>scene14_thomas_mouth_08</string>
							<string>scene14_thomas_mouth_02</string>
							<string>scene14_thomas_mouth_02</string>
							<string>scene14_thomas_mouth_02</string>
							<string>scene14_thomas_mouth_02</string>
							<string>scene14_thomas_mouth_06</string>
							<string>scene14_thomas_mouth_06</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_07</string>
							<string>scene14_thomas_mouth_02</string>
							<string>scene14_thomas_mouth_02</string>
							<string>scene14_thomas_mouth_02</string>
							<string>scene14_thomas_mouth_05</string>
							<string>scene14_thomas_mouth_08</string>
							<string>scene14_thomas_mouth_08</string>
							<string>scene14_thomas_mouth_03</string>
							<string>scene14_thomas_mouth_05</string>
							<string>scene14_thomas_mouth_05</string>
							<string>scene14_thomas_mouth_05</string>
							<string>scene14_thomas_mouth_02</string>
							<string>scene14_thomas_mouth_02</string>
							<string>scene14_thomas_mouth_02</string>
							<string>scene14_thomas_mouth_02</string>
							<string>scene14_thomas_mouth_02</string>
							<string>scene14_thomas_mouth_02</string>
							<string>scene14_thomas_mouth_02</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
							<string>scene14_thomas_mouth_01</string>
						</array>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene14_thomas_smoke</string>
		<key>z</key>
		<integer>6</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_thomas_smoke</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>p0x</key>
			<integer>105</integer>
			<key>p0y</key>
			<integer>220</integer>
			<key>p1x</key>
			<integer>99</integer>
			<key>p1y</key>
			<integer>261</integer>
			<key>p2x</key>
			<integer>162</integer>
			<key>p2y</key>
			<integer>292</integer>
			<key>p3x</key>
			<integer>254</integer>
			<key>p3y</key>
			<integer>311</integer>
			<key>startSize</key>
			<integer>20</integer>
			<key>endSize</key>
			<integer>90</integer>
			<key>endSizeVar</key>
			<integer>30</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene14_bash_smoke</string>
		<key>z</key>
		<integer>6</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_bash_smoke</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>p0x</key>
			<integer>165</integer>
			<key>p0y</key>
			<integer>260</integer>
			<key>p1x</key>
			<integer>166</integer>
			<key>p1y</key>
			<integer>301</integer>
			<key>p2x</key>
			<integer>103</integer>
			<key>p2y</key>
			<integer>334</integer>
			<key>p3x</key>
			<integer>37</integer>
			<key>p3y</key>
			<integer>357</integer>
			<key>startSize</key>
			<integer>60</integer>
			<key>endSize</key>
			<integer>90</integer>
			<key>endSizeVar</key>
			<integer>90</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene14_dash_smoke</string>
		<key>z</key>
		<integer>6</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_dash_smoke</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>p0x</key>
			<integer>255</integer>
			<key>p0y</key>
			<integer>220</integer>
			<key>p1x</key>
			<integer>257</integer>
			<key>p1y</key>
			<integer>255</integer>
			<key>p2x</key>
			<integer>194</integer>
			<key>p2y</key>
			<integer>285</integer>
			<key>p3x</key>
			<integer>106</integer>
			<key>p3y</key>
			<integer>310</integer>
			<key>startSize</key>
			<integer>50</integer>
			<key>endSize</key>
			<integer>90</integer>
			<key>endSizeVar</key>
			<integer>60</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene14_thomas_smokestack</string>
		<key>z</key>
		<integer>25</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_thomas_smokestack</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<integer>93</integer>
			<key>y</key>
			<integer>190</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene14_bash_smokestack</string>
		<key>z</key>
		<integer>25</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_bash_smokestack</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<integer>137</integer>
			<key>y</key>
			<integer>205</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene14_dash_smokestack</string>
		<key>z</key>
		<integer>25</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene14_dash_smokestack</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<integer>232</integer>
			<key>y</key>
			<integer>179</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
