<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>bgColor</key>
			<string>WHITE</string>
			<key>static</key>
			<dict>
				<key>text</key>
				<dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{705,202},{290,275}}</string>
						<key>text</key>
						<string></string>
						<key>z</key>
						<integer>1</integer>
						<key>font</key>
						<string>Georgia</string>
						<key>size</key>
						<integer>21</integer>
						<key>color</key>
						<string>BLACK</string>
						<key>linespacing</key>
						<integer>10</integer>
					</dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{705,202},{290,275}}</string>
						<key>text</key>
						<string></string>
						<key>z</key>
						<integer>2</integer>
						<key>font</key>
						<string>Georgia</string>
						<key>size</key>
						<integer>21</integer>
						<key>color</key>
						<string>BLACK</string>
						<key>linespacing</key>
						<integer>10</integer>
					</dict>
				</dict>
				<key>background</key>
				<array>
					<dict>
						<key>name</key>
						<string>intro_title</string>
						<key>children</key>
						<array/>
					</dict>
				</array>
			</dict>
			<key>animated</key>
			<dict>
				<key>objects</key>
				<array>
					<dict>
						<key>name</key>
						<string>titleClickArea</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>playIntroSound</string>
						<key>children</key>
						<array/>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>intro_title</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>intro_title</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>512</string>
			<key>y</key>
			<string>384</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>titleClickArea</string>
		<key>clickarea</key>
		<string>{{45,273},{600,376}}</string>
		<key>z</key>
		<integer>33</integer>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<false/>
			<key>isInteractive</key>
			<true/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>repeatForever</key>
				<false/>
			</dict>
		</array>
		<key>animationTrigger</key>
		<dict>
			<key>repeatable</key>
			<true/>
			<key>objects</key>
			<array>
				<string>playIntroSound</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>playIntroSound</string>
		<key>z</key>
		<integer>8</integer>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>sound</key>
						<string>intro_presentation.m4a</string>
						<key>volume</key>
						<real>1</real>
						<key>duration</key>
						<integer>7</integer>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.5</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<integer>3</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
