<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>animated</key>
			<dict>
				<key>objects</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene19_bkg1</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene19_thomas_smoke</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene19_dash_smoke</string>
					</dict>
				</array>
			</dict>
			<key>bgColor</key>
			<string>BLACK</string>
			<key>bgSound</key>
			<dict>
				<key>filename</key>
				<string>ambience_scene_19.m4a</string>
				<key>repeat</key>
				<true/>
				<key>volume</key>
				<real>0.8</real>
			</dict>
			<key>hasPhysics</key>
			<true/>
			<key>static</key>
			<dict>
				<key>background</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene19_bkg2</string>
					</dict>
				</array>
				<key>text</key>
				<dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{666,221},{326,412}}</string>
						<key>color</key>
						<string>WHITE</string>
						<key>font</key>
						<string>Georgia</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>overlayText</key>
						<string>Suddenly, there was trouble ahead. The tracks were blocked by rocks. Then, with a rumble and a crash, more rocks smashed down behind them. “We can push the rocks out of the way,” Thomas puffed. Bash, Dash, and Ferdinand bravely pumped their pistons, but with a gasp and a groan, they ran out of oil. The engines were stuck in the tunnel . . . and no one knew where they were.</string>
						<key>size</key>
						<integer>19</integer>
						<key>text</key>
						<string>      Suddenly, there was trouble ahead. The tracks were blocked by rocks. Then, with a rumble and a crash, more rocks smashed down behind them. “We can push the rocks out of the way,” Thomas puffed. Bash, Dash, and Ferdinand bravely pumped their pistons, but with a gasp and a groan, they ran out of oil. The engines were stuck in the tunnel . . . and no one knew where they were.</string>
						<key>z</key>
						<integer>40</integer>
					</dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{666,221},{326,412}}</string>
						<key>color</key>
						<string>WHITE</string>
						<key>font</key>
						<string>Georgia</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>overlayText</key>
						<string>Suddenly, there was trouble ahead. The tracks were blocked by rocks. Then, with a rumble and a crash, more rocks smashed down behind them. “We can push the rocks out of the way,” Thomas puffed. Bash, Dash, and Ferdinand bravely pumped their pistons, but with a gasp and a groan, they ran out of oil. The engines were stuck in the tunnel . . . and no one knew where they were.</string>
						<key>size</key>
						<integer>19</integer>
						<key>text</key>
						<string>      Suddenly, there was trouble ahead. The tracks were blocked by rocks. Then, with a rumble and a crash, more rocks smashed down behind them. “We can push the rocks out of the way,” Thomas puffed. Bash, Dash, and Ferdinand bravely pumped their pistons, but with a gasp and a groan, they ran out of oil. The engines were stuck in the tunnel . . . and no one knew where they were.</string>
						<key>z</key>
						<integer>40</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene19_bkg2</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene19_bkg2</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<string>770.5</string>
			<key>y</key>
			<string>384</string>
		</dict>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>frameAnimations</key>
		<array>
			<dict>
				<key>repeatForever</key>
				<true/>
				<key>source</key>
				<dict>
					<key>dash_eye</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>66</string>
							<key>totalFrames</key>
							<string>125</string>
							<key>width</key>
							<string>50</string>
							<key>x</key>
							<string>99</string>
							<key>y</key>
							<string>535</string>
							<key>z</key>
							<integer>6</integer>
						</dict>
						<array>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye2</string>
							<string>scene19_dash_eye2</string>
							<string>scene19_dash_eye3</string>
							<string>scene19_dash_eye3</string>
							<string>scene19_dash_eye4</string>
							<string>scene19_dash_eye4</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye2</string>
							<string>scene19_dash_eye2</string>
							<string>scene19_dash_eye3</string>
							<string>scene19_dash_eye3</string>
							<string>scene19_dash_eye4</string>
							<string>scene19_dash_eye4</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye2</string>
							<string>scene19_dash_eye2</string>
							<string>scene19_dash_eye3</string>
							<string>scene19_dash_eye3</string>
							<string>scene19_dash_eye4</string>
							<string>scene19_dash_eye4</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye5</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
							<string>scene19_dash_eye1</string>
						</array>
					</array>
					<key>dash_forehead</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>69</string>
							<key>totalFrames</key>
							<string>125</string>
							<key>width</key>
							<string>59</string>
							<key>x</key>
							<string>94.5</string>
							<key>y</key>
							<string>533.5</string>
							<key>z</key>
							<integer>7</integer>
						</dict>
						<array>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead2</string>
							<string>scene19_dash_forehead2</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead1</string>
							<string>scene19_dash_forehead2</string>
							<string>scene19_dash_forehead2</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
							<string>scene19_dash_forehead3</string>
						</array>
					</array>
					<key>thomas_eye</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>61</string>
							<key>totalFrames</key>
							<string>125</string>
							<key>width</key>
							<string>125</string>
							<key>x</key>
							<string>330.95</string>
							<key>y</key>
							<string>515</string>
							<key>z</key>
							<integer>9</integer>
						</dict>
						<array>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes1</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes2</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes4</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
							<string>scene19_thomas_eyes3</string>
						</array>
					</array>
					<key>thomas_forehead</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>93</string>
							<key>totalFrames</key>
							<string>125</string>
							<key>width</key>
							<string>161</string>
							<key>x</key>
							<string>326.5</string>
							<key>y</key>
							<string>529.5</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead2</string>
							<string>scene19_thomas_forehead2</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead3</string>
							<string>scene19_thomas_forehead2</string>
							<string>scene19_thomas_forehead2</string>
							<string>scene19_thomas_forehead2</string>
							<string>scene19_thomas_forehead2</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
							<string>scene19_thomas_forehead1</string>
						</array>
					</array>
					<key>thomas_mouth</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>71</string>
							<key>totalFrames</key>
							<string>125</string>
							<key>width</key>
							<string>161</string>
							<key>x</key>
							<string>326.5</string>
							<key>y</key>
							<string>450.5</string>
							<key>z</key>
							<integer>8</integer>
						</dict>
						<array>
							<string>scene19_thomas_mouth1</string>
							<string>scene19_thomas_mouth1</string>
							<string>scene19_thomas_mouth1</string>
							<string>scene19_thomas_mouth2</string>
							<string>scene19_thomas_mouth2</string>
							<string>scene19_thomas_mouth2</string>
							<string>scene19_thomas_mouth3</string>
							<string>scene19_thomas_mouth3</string>
							<string>scene19_thomas_mouth3</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth5</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth6</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
							<string>scene19_thomas_mouth7</string>
						</array>
					</array>
				</dict>
				<key>texturedata</key>
				<string>scene19_facials_texture</string>
				<key>type</key>
				<string>start</string>
			</dict>
		</array>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>scene19_bkg1</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene19_bkg1</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene19_dash_smoke</string>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>1</integer>
			<key>endSizeVar</key>
			<integer>80</integer>
			<key>name</key>
			<string>scene19_dash_smoke</string>
			<key>p0x</key>
			<integer>104</integer>
			<key>p0y</key>
			<integer>651</integer>
			<key>p1x</key>
			<integer>110</integer>
			<key>p1y</key>
			<integer>666</integer>
			<key>p2x</key>
			<integer>101</integer>
			<key>p2y</key>
			<integer>694</integer>
			<key>p3x</key>
			<integer>115</integer>
			<key>p3y</key>
			<integer>730</integer>
			<key>startSize</key>
			<integer>70</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene19_thomas_smoke</string>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>1</integer>
			<key>endSizeVar</key>
			<integer>20</integer>
			<key>name</key>
			<string>scene19_thomas_smoke</string>
			<key>p0x</key>
			<integer>312</integer>
			<key>p0y</key>
			<integer>659</integer>
			<key>p1x</key>
			<integer>312</integer>
			<key>p1y</key>
			<integer>695</integer>
			<key>p2x</key>
			<integer>294</integer>
			<key>p2y</key>
			<integer>722</integer>
			<key>p3x</key>
			<integer>310</integer>
			<key>p3y</key>
			<integer>760</integer>
			<key>startSize</key>
			<integer>60</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>6</integer>
	</dict>
</array>
</plist>
