<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>animated</key>
			<dict>
				<key>fog</key>
				<dict>
					<key>bottomBorder</key>
					<integer>-1</integer>
					<key>density</key>
					<real>0.95</real>
					<key>height</key>
					<integer>700</integer>
					<key>noiseScaleX</key>
					<real>0.01</real>
					<key>noiseScaleY</key>
					<real>0.1</real>
					<key>spawnBottom</key>
					<integer>64</integer>
					<key>spawnTop</key>
					<integer>0</integer>
					<key>topBorder</key>
					<integer>32</integer>
					<key>turbulence</key>
					<real>0.1</real>
					<key>width</key>
					<integer>800</integer>
					<key>windSpeed</key>
					<integer>10</integer>
					<key>x</key>
					<integer>680</integer>
					<key>y</key>
					<integer>350</integer>
					<key>z</key>
					<integer>20</integer>
				</dict>
				<key>objects</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene7_bkg1</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene7_bkg3</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene7_bkg2</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene7_textbkg</string>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene7_thomas_headlight</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene7_smoke</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene7_smokestack</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>smokewistle</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>wistletrigger</string>
							</dict>
						</array>
						<key>name</key>
						<string>scene7_raft</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene7_bkg5</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene7_bkg4</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene7_boat</string>
					</dict>
				</array>
			</dict>
			<key>bgColor</key>
			<string>BLACK</string>
			<key>bgSound</key>
			<dict>
				<key>filename</key>
				<string>ambience_scene_7.m4a</string>
				<key>repeat</key>
				<true/>
				<key>volume</key>
				<real>0.2</real>
			</dict>
			<key>static</key>
			<dict>
				<key>background</key>
				<array/>
				<key>text</key>
				<dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{26,182},{270,415}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Georgia</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>overlayText</key>
						<string>When Thomas was far out at sea and darkness started to fall, he heard a creak and a crash. The chain to the steamship had snapped. Thomas whistled and wheeshed as the big boat steamed away, but no one could hear him. The rocking waves carried Thomas into the misty night.</string>
						<key>size</key>
						<integer>19</integer>
						<key>text</key>
						<string>      When Thomas was far out at sea and darkness started to fall, he heard a creak and a crash. The chain to the steamship had snapped. Thomas whistled and wheeshed as the big boat steamed away, but no one could hear him. The rocking waves carried Thomas into the misty night.</string>
						<key>z</key>
						<integer>40</integer>
					</dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{26,182},{270,415}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Georgia</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>overlayText</key>
						<string>When Thomas was far out at sea and darkness started to fall, he heard a creak and a crash. The chain to the steamship had snapped. Thomas whistled and wheeshed as the big boat steamed away, but no one could hear him. The rocking waves carried Thomas into the misty night.</string>
						<key>size</key>
						<integer>19</integer>
						<key>text</key>
						<string>      When Thomas was far out at sea and darkness started to fall, he heard a creak and a crash. The chain to the steamship had snapped. Thomas whistled and wheeshed as the big boat steamed away, but no one could hear him. The rocking waves carried Thomas into the misty night.</string>
						<key>z</key>
						<integer>40</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>smokewistle</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>wistletrigger</string>
		<key>source</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>name</key>
			<string>scene7_wistletrigger</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<integer>430</integer>
			<key>y</key>
			<integer>450</integer>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>3.875</real>
						<key>ease</key>
						<real>-1</real>
						<key>sound</key>
						<string>thomas_interactive_whistle_scene7.m4a</string>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>interactive</string>
			</dict>
		</array>
		<key>z</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>scene7_bkg1</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene7_bkg1</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<real>512</real>
			<key>y</key>
			<real>384</real>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array/>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>start</string>
			</dict>
		</array>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>scene7_bkg3</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene7_bkg3</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>-1.5</real>
			<key>x</key>
			<real>652.5</real>
			<key>y</key>
			<real>246.5</real>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>fog</key>
				<dict>
					<key>bottomBorder</key>
					<integer>-1</integer>
					<key>density</key>
					<integer>1</integer>
					<key>height</key>
					<integer>384</integer>
					<key>noiseScaleX</key>
					<real>0.01</real>
					<key>noiseScaleY</key>
					<real>0.1</real>
					<key>reveal</key>
					<dict>
						<key>duration</key>
						<integer>10</integer>
						<key>start</key>
						<integer>3</integer>
					</dict>
					<key>spawnBottom</key>
					<integer>64</integer>
					<key>spawnTop</key>
					<integer>0</integer>
					<key>topBorder</key>
					<integer>20</integer>
					<key>turbulence</key>
					<real>0.1</real>
					<key>width</key>
					<integer>1100</integer>
					<key>windSpeed</key>
					<integer>40</integer>
					<key>x</key>
					<integer>550</integer>
					<key>y</key>
					<integer>192</integer>
					<key>z</key>
					<integer>20</integer>
				</dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>1.291666666666667</real>
						<key>ease</key>
						<real>0</real>
						<key>y</key>
						<real>237.2</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>1.041666666666667</real>
						<key>ease</key>
						<real>0</real>
						<key>y</key>
						<real>242.3</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>2.25</real>
						<key>ease</key>
						<real>0</real>
						<key>y</key>
						<real>250.7</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.875</real>
						<key>ease</key>
						<real>0</real>
						<key>y</key>
						<real>246.5</real>
					</dict>
				</array>
				<key>repeatForever</key>
				<true/>
				<key>type</key>
				<string>start</string>
			</dict>
		</array>
		<key>z</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>scene7_bkg2</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene7_bkg2</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>-2.3</real>
			<key>x</key>
			<real>652.5</real>
			<key>y</key>
			<real>264</real>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>1.458333333333333</real>
						<key>ease</key>
						<real>0</real>
						<key>y</key>
						<real>249.6</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>1</real>
						<key>ease</key>
						<real>0</real>
						<key>y</key>
						<real>251.4</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>2.333333333333333</real>
						<key>ease</key>
						<real>0</real>
						<key>y</key>
						<real>271</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.6666666666666661</real>
						<key>ease</key>
						<real>0</real>
						<key>y</key>
						<real>264</real>
					</dict>
				</array>
				<key>repeatForever</key>
				<true/>
				<key>type</key>
				<string>start</string>
			</dict>
		</array>
		<key>z</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>scene7_textbkg</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene7_textbkg</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<real>197.5</real>
			<key>y</key>
			<real>384</real>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array/>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>start</string>
			</dict>
		</array>
		<key>z</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>frameAnimations</key>
		<array>
			<dict>
				<key>repeatForever</key>
				<true/>
				<key>source</key>
				<dict>
					<key>eyes</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>50</string>
							<key>totalFrames</key>
							<string>131</string>
							<key>width</key>
							<string>90</string>
							<key>x</key>
							<string>501.95</string>
							<key>y</key>
							<string>399.05</string>
							<key>z</key>
							<integer>8</integer>
						</dict>
						<array>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_2</string>
							<string>scene7_eyes_2</string>
							<string>scene7_eyes_3</string>
							<string>scene7_eyes_3</string>
							<string>scene7_eyes_3</string>
							<string>scene7_eyes_5</string>
							<string>scene7_eyes_5</string>
							<string>scene7_eyes_5</string>
							<string>scene7_eyes_3</string>
							<string>scene7_eyes_3</string>
							<string>scene7_eyes_3</string>
							<string>scene7_eyes_3</string>
							<string>scene7_eyes_3</string>
							<string>scene7_eyes_3</string>
							<string>scene7_eyes_3</string>
							<string>scene7_eyes_3</string>
							<string>scene7_eyes_3</string>
							<string>scene7_eyes_3</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_4</string>
							<string>scene7_eyes_5</string>
							<string>scene7_eyes_5</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
							<string>scene7_eyes_1</string>
						</array>
					</array>
					<key>forehead</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>82</string>
							<key>totalFrames</key>
							<string>131</string>
							<key>width</key>
							<string>112</string>
							<key>x</key>
							<string>497.95</string>
							<key>y</key>
							<string>408.05</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_2</string>
							<string>scene7_forehead_2</string>
							<string>scene7_forehead_3</string>
							<string>scene7_forehead_3</string>
							<string>scene7_forehead_3</string>
							<string>scene7_forehead_3</string>
							<string>scene7_forehead_4</string>
							<string>scene7_forehead_4</string>
							<string>scene7_forehead_4</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_3</string>
							<string>scene7_forehead_3</string>
							<string>scene7_forehead_3</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
							<string>scene7_forehead_1</string>
						</array>
					</array>
					<key>mouth</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>57</string>
							<key>totalFrames</key>
							<string>131</string>
							<key>width</key>
							<string>104</string>
							<key>x</key>
							<string>493.5</string>
							<key>y</key>
							<string>357.45</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene7_mouth_1</string>
							<string>scene7_mouth_1</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_3</string>
							<string>scene7_mouth_2</string>
							<string>scene7_mouth_2</string>
							<string>scene7_mouth_1</string>
							<string>scene7_mouth_1</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
							<string>scene7_mouth_4</string>
						</array>
					</array>
				</dict>
				<key>texturedata</key>
				<string>scene7_thomas_face</string>
				<key>type</key>
				<string>start</string>
			</dict>
		</array>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>scene7_raft</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene7_raft</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<real>636</real>
			<key>y</key>
			<real>288.5</real>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>0.3333333333333333</real>
						<key>ease</key>
						<real>0</real>
						<key>y</key>
						<real>289.6</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.4166666666666667</real>
						<key>ease</key>
						<real>0</real>
						<key>y</key>
						<real>292.1</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.875</real>
						<key>ease</key>
						<real>0</real>
						<key>y</key>
						<real>302.5</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>2.208333333333333</real>
						<key>ease</key>
						<real>0</real>
						<key>y</key>
						<real>272.35</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.7499999999999996</real>
						<key>ease</key>
						<real>0</real>
						<key>y</key>
						<real>283.45</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.5</real>
						<key>ease</key>
						<real>0</real>
						<key>y</key>
						<real>286.85</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.375</real>
						<key>ease</key>
						<real>0</real>
						<key>y</key>
						<real>288.5</real>
					</dict>
				</array>
				<key>repeatForever</key>
				<true/>
				<key>type</key>
				<string>start</string>
			</dict>
		</array>
		<key>z</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>scene7_bkg5</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene7_bkg5</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<real>652.5</real>
			<key>y</key>
			<integer>232</integer>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>0.875</real>
						<key>ease</key>
						<real>0</real>
						<key>scaleY</key>
						<real>1.034</real>
						<key>y</key>
						<integer>227</integer>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.9583333333333333</real>
						<key>ease</key>
						<real>0</real>
						<key>scaleY</key>
						<real>0.973</real>
						<key>y</key>
						<integer>246</integer>
					</dict>
					<dict>
						<key>duration</key>
						<real>2.208333333333334</real>
						<key>ease</key>
						<real>0</real>
						<key>scaleY</key>
						<real>1.048</real>
						<key>y</key>
						<integer>218</integer>
					</dict>
					<dict>
						<key>duration</key>
						<real>1.416666666666666</real>
						<key>ease</key>
						<real>0</real>
						<key>scaleY</key>
						<real>1</real>
						<key>y</key>
						<integer>232</integer>
					</dict>
				</array>
				<key>repeatForever</key>
				<true/>
				<key>type</key>
				<string>start</string>
			</dict>
		</array>
		<key>z</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>scene7_bkg4</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene7_bkg4</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>-0.6</real>
			<key>x</key>
			<real>652.5</real>
			<key>y</key>
			<real>225</real>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>1.083333333333333</real>
						<key>ease</key>
						<real>0</real>
						<key>scaleY</key>
						<real>1.032</real>
						<key>y</key>
						<real>213.7</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>1</real>
						<key>ease</key>
						<real>0</real>
						<key>scaleY</key>
						<real>0.962</real>
						<key>y</key>
						<real>220.8</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>2.291666666666667</real>
						<key>ease</key>
						<real>0</real>
						<key>scaleY</key>
						<real>1.025</real>
						<key>y</key>
						<real>230.7</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>1.083333333333333</real>
						<key>ease</key>
						<real>0</real>
						<key>scaleY</key>
						<real>1</real>
						<key>y</key>
						<real>225</real>
					</dict>
				</array>
				<key>repeatForever</key>
				<true/>
				<key>type</key>
				<string>start</string>
			</dict>
		</array>
		<key>z</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>scene7_boat</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene7_boat</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<integer>880</integer>
			<key>y</key>
			<real>640.2</real>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>5.458333333333333</real>
						<key>ease</key>
						<real>0</real>
						<key>scaleX</key>
						<real>0.544</real>
						<key>scaleY</key>
						<real>0.544</real>
						<key>sound</key>
						<string>boat_interactive_scene7.m4a</string>
						<key>x</key>
						<integer>1237</integer>
						<key>y</key>
						<real>627.9000000000001</real>
					</dict>
					<dict>
						<key>duration</key>
						<integer>5</integer>
						<key>ease</key>
						<real>0</real>
						<key>scaleX</key>
						<real>0.544</real>
						<key>scaleY</key>
						<real>0.544</real>
						<key>x</key>
						<integer>1237</integer>
						<key>y</key>
						<real>627.9000000000001</real>
					</dict>
					<dict>
						<key>alpha</key>
						<integer>0</integer>
						<key>duration</key>
						<integer>0</integer>
						<key>ease</key>
						<real>0</real>
						<key>scaleX</key>
						<integer>1</integer>
						<key>scaleY</key>
						<integer>1</integer>
						<key>x</key>
						<integer>880</integer>
						<key>y</key>
						<real>640.2</real>
					</dict>
					<dict>
						<key>alpha</key>
						<integer>1</integer>
						<key>duration</key>
						<integer>1</integer>
						<key>ease</key>
						<real>0</real>
						<key>scaleX</key>
						<integer>1</integer>
						<key>scaleY</key>
						<integer>1</integer>
						<key>x</key>
						<integer>880</integer>
						<key>y</key>
						<real>640.2</real>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>interactive</string>
			</dict>
		</array>
		<key>z</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene7_smoke</string>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>100</integer>
			<key>endSizeVar</key>
			<integer>94</integer>
			<key>name</key>
			<string>scene7_smoke</string>
			<key>p0x</key>
			<integer>497</integer>
			<key>p0y</key>
			<integer>511</integer>
			<key>p1x</key>
			<integer>550</integer>
			<key>p1y</key>
			<integer>552</integer>
			<key>p2x</key>
			<integer>662</integer>
			<key>p2y</key>
			<integer>532</integer>
			<key>p3x</key>
			<integer>824</integer>
			<key>p3y</key>
			<integer>591</integer>
			<key>startSize</key>
			<integer>34</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene7_smokestack</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene7_smokestack</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<integer>481</integer>
			<key>y</key>
			<integer>463</integer>
		</dict>
		<key>z</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<false/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>scene7_thomas_headlight</string>
		<key>source</key>
		<dict>
			<key>alpha</key>
			<integer>0</integer>
			<key>name</key>
			<string>scene7_thomas_headlight</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<real>536.5</real>
			<key>y</key>
			<integer>209</integer>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<integer>0</integer>
						<key>ease</key>
						<real>0</real>
						<key>sound</key>
						<string>thomas_interactive_lighton_scene7.m4a</string>
						<key>volume</key>
						<string>0.5</string>
					</dict>
					<dict>
						<key>alpha</key>
						<real>0</real>
						<key>duration</key>
						<real>0.08333333333333326</real>
						<key>ease</key>
						<real>0</real>
					</dict>
					<dict>
						<key>alpha</key>
						<real>1</real>
						<key>duration</key>
						<real>0.125</real>
						<key>ease</key>
						<real>0</real>
					</dict>
					<dict>
						<key>alpha</key>
						<real>1</real>
						<key>duration</key>
						<real>0.125</real>
						<key>ease</key>
						<real>0</real>
					</dict>
					<dict>
						<key>alpha</key>
						<integer>0</integer>
						<key>duration</key>
						<real>0.1666666666666667</real>
						<key>ease</key>
						<real>0</real>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>interactive</string>
			</dict>
		</array>
		<key>z</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>smokewistle</string>
		<key>smoke</key>
		<false/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>100</integer>
			<key>endSizeVar</key>
			<integer>100</integer>
			<key>name</key>
			<string>scene7_smoke</string>
			<key>p0x</key>
			<integer>415</integer>
			<key>p0y</key>
			<integer>525</integer>
			<key>p1x</key>
			<integer>462</integer>
			<key>p1y</key>
			<integer>615</integer>
			<key>p2x</key>
			<integer>589</integer>
			<key>p2y</key>
			<integer>677</integer>
			<key>p3x</key>
			<integer>800</integer>
			<key>p3y</key>
			<integer>686</integer>
			<key>startSize</key>
			<integer>34</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<integer>0</integer>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<false/>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.5</real>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<true/>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.4</real>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<false/>
					</dict>
					<dict>
						<key>duration</key>
						<integer>1</integer>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<true/>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.6</real>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<false/>
					</dict>
					<dict>
						<key>duration</key>
						<integer>1</integer>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<true/>
					</dict>
					<dict>
						<key>duration</key>
						<integer>1</integer>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<false/>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>interactive</string>
			</dict>
		</array>
		<key>z</key>
		<integer>6</integer>
	</dict>
</array>
</plist>
