<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>bgColor</key>
			<string>WHITE</string>
			<key>bgSound</key>
			<dict>
				<key>filename</key>
				<string>ambience_scene_2.m4a</string>
				<key>volume</key>
				<real>0.5</real>
				<key>repeat</key>
				<true/>
			</dict>
			<key>static</key>
			<dict>
				<key>text</key>
				<dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{705,202},{290,275}}</string>
						<key>text</key>
						<string>     It was an exciting day on the Island of Sodor. Construction was nearly complete on the new Search and Rescue Center, which would help people in trouble.</string>
						<key>z</key>
						<integer>2</integer>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>size</key>
						<integer>21</integer>
						<key>color</key>
						<string>BLACK</string>
						<key>linespacing</key>
						<integer>10</integer>
					</dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{705,202},{290,275}}</string>
						<key>text</key>
						<string>     It was an exciting day on the Island of Sodor. Construction was nearly complete on the new Search and Rescue Centre, which would help people in trouble.</string>
						<key>z</key>
						<integer>2</integer>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>size</key>
						<integer>21</integer>
						<key>color</key>
						<string>BLACK</string>
						<key>linespacing</key>
						<integer>10</integer>
					</dict>
				</dict>
				<key>background</key>
				<array>
					<dict>
						<key>name</key>
						<string>scene2_bkg1</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene2_bkg2</string>
						<key>children</key>
						<array/>
					</dict>
				</array>
			</dict>
			<key>animated</key>
			<dict>
				<key>objects</key>
				<array>
					<dict>
						<key>name</key>
						<string>harold_holder</string>
						<key>children</key>
						<array>
							<dict>
								<key>name</key>
								<string>harold</string>
								<key>children</key>
								<array/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>trainset1</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>trainset2</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>captain</string>
						<key>children</key>
						<array/>
					</dict>
				</array>
				<key>fog</key>
				<dict>
					<key>x</key>
					<integer>370</integer>
					<key>y</key>
					<integer>550</integer>
					<key>width</key>
					<integer>740</integer>
					<key>height</key>
					<integer>500</integer>
					<key>z</key>
					<integer>5</integer>
					<key>density</key>
					<real>1.5</real>
					<key>turbulence</key>
					<real>0.1</real>
					<key>topBorder</key>
					<integer>-1</integer>
					<key>bottomBorder</key>
					<integer>32</integer>
					<key>force</key>
					<integer>0</integer>
					<key>noiseScaleX</key>
					<real>0.01</real>
					<key>noiseScaleY</key>
					<real>0.1</real>
					<key>spawnTop</key>
					<integer>0</integer>
					<key>spawnBottom</key>
					<integer>64</integer>
					<key>windSpeed</key>
					<integer>10</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>harold</string>
		<key>z</key>
		<integer>6</integer>
		<key>source</key>
		<dict>
			<key>clickarea</key>
			<string>NO</string>
			<key>name</key>
			<string>scene2_harold_body</string>
			<key>scaleX</key>
			<real>0.486</real>
			<key>scaleY</key>
			<real>0.486</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>102.35</real>
			<key>y</key>
			<real>65.15000000000001</real>
			<key>transformationPointX</key>
			<real>0.5073738680465718</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<true/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<integer>0</integer>
						<key>duration</key>
						<real>2.458333333333333</real>
						<key>x</key>
						<real>112.35</real>
						<key>rotation</key>
						<real>-3.7</real>
					</dict>
					<dict>
						<key>ease</key>
						<integer>0</integer>
						<key>duration</key>
						<real>3.875</real>
						<key>x</key>
						<real>96.75</real>
						<key>y</key>
						<real>65.40000000000001</real>
						<key>rotation</key>
						<real>1.2</real>
					</dict>
					<dict>
						<key>ease</key>
						<integer>0</integer>
						<key>duration</key>
						<real>2.250000000000001</real>
						<key>x</key>
						<real>102.35</real>
						<key>y</key>
						<real>65.15000000000001</real>
						<key>rotation</key>
						<real>0</real>
					</dict>
				</array>
			</dict>
		</array>
		<key>frameAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>texturedata</key>
				<string>scene2_harold_texture</string>
				<key>repeatForever</key>
				<true/>
				<key>source</key>
				<dict>
					<key>face</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>totalFrames</key>
							<string>157</string>
							<key>width</key>
							<string>45</string>
							<key>height</key>
							<string>56</string>
							<key>x</key>
							<string>270.5</string>
							<key>y</key>
							<string>92</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene2_harold_face1</string>
							<string>scene2_harold_face1</string>
							<string>scene2_harold_face1</string>
							<string>scene2_harold_face1</string>
							<string>scene2_harold_face1</string>
							<string>scene2_harold_face1</string>
							<string>scene2_harold_face1</string>
							<string>scene2_harold_face2</string>
							<string>scene2_harold_face2</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face6</string>
							<string>scene2_harold_face6</string>
							<string>scene2_harold_face6</string>
							<string>scene2_harold_face6</string>
							<string>scene2_harold_face6</string>
							<string>scene2_harold_face6</string>
							<string>scene2_harold_face6</string>
							<string>scene2_harold_face6</string>
							<string>scene2_harold_face6</string>
							<string>scene2_harold_face6</string>
							<string>scene2_harold_face6</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face4</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face3</string>
							<string>scene2_harold_face2</string>
							<string>scene2_harold_face2</string>
							<string>scene2_harold_face2</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
							<string>scene2_harold_face5</string>
						</array>
					</array>
					<key>mainrotor</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>totalFrames</key>
							<string>157</string>
							<key>width</key>
							<string>381</string>
							<key>height</key>
							<string>45</string>
							<key>x</key>
							<string>187.9</string>
							<key>y</key>
							<string>210.3</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene2_harold_mainrotor1</string>
							<string>scene2_harold_mainrotor2</string>
							<string>scene2_harold_mainrotor3</string>
							<string>scene2_harold_mainrotor4</string>
							<string>scene2_harold_mainrotor5</string>
						</array>
					</array>
					<key>tailrotor</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>totalFrames</key>
							<string>157</string>
							<key>width</key>
							<string>44</string>
							<key>height</key>
							<string>60</string>
							<key>x</key>
							<string>48</string>
							<key>y</key>
							<string>252</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene2_harold_tailrotor1</string>
							<string>scene2_harold_tailrotor2</string>
							<string>scene2_harold_tailrotor3</string>
							<string>scene2_harold_tailrotor4</string>
						</array>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>captain</string>
		<key>z</key>
		<integer>1</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene2_captain</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>102.2</real>
			<key>y</key>
			<real>451.5</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<true/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<integer>1</integer>
						<key>y</key>
						<real>453.2</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<integer>1</integer>
						<key>y</key>
						<real>449.8</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<integer>2</integer>
						<key>y</key>
						<real>451.5</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene2_bkg1</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene2_bkg1</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>512</string>
			<key>y</key>
			<string>384</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>trainset1</string>
		<key>z</key>
		<integer>2</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene2_trainset1</string>
			<key>scaleX</key>
			<real>0.497</real>
			<key>scaleY</key>
			<real>0.497</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>-201.6</real>
			<key>y</key>
			<real>725.85</real>
			<key>transformationPointX</key>
			<real>0.4997652582159625</real>
			<key>transformationPointY</key>
			<real>0.4997041420118343</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>2.041666666666667</real>
					</dict>
					<dict>
						<key>ease</key>
						<integer>2</integer>
						<key>duration</key>
						<real>5.083333333333334</real>
						<key>x</key>
						<real>263.4</real>
						<key>y</key>
						<real>511.6</real>
						<key>scaleX</key>
						<real>0.9999999999999999</real>
						<key>scaleY</key>
						<real>0.9999999999999999</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>1.5</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>trainset2</string>
		<key>z</key>
		<integer>3</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene2_trainset2</string>
			<key>scaleX</key>
			<real>0.6929999999999999</real>
			<key>scaleY</key>
			<real>0.6929999999999999</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>-28.95</real>
			<key>y</key>
			<real>651.15</real>
			<key>transformationPointX</key>
			<real>0.5002032520325204</real>
			<key>transformationPointY</key>
			<real>0.4986956521739131</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<integer>1</integer>
						<key>sound</key>
						<string>train_scene_2.m4a</string>
						<key>duration</key>
						<real>4.916666666666667</real>
						<key>x</key>
						<real>457.95</real>
						<key>y</key>
						<real>427.45</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>3.708333333333333</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene2_bkg2</string>
		<key>z</key>
		<integer>5</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene2_bkg2</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>68.5</string>
			<key>y</key>
			<string>546.5</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>clickarea</key>
		<string>{{0,0},{185,138}}</string>
		<key>name</key>
		<string>harold_holder</string>
		<key>z</key>
		<integer>10</integer>
		<key>source</key>
		<dict>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<integer>78</integer>
			<key>y</key>
			<integer>570</integer>
		</dict>
		<key>metadata</key>
		<dict>
			<key>interactiveDuringIntro</key>
			<false/>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<true/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>-1</real>
						<key>sound</key>
						<string>helicopter_scene_2.m4a</string>
						<key>duration</key>
						<integer>4</integer>
						<key>x</key>
						<real>1272.85</real>
						<key>y</key>
						<integer>578</integer>
						<key>scaleX</key>
						<integer>2</integer>
						<key>scaleY</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>ease</key>
						<integer>0</integer>
						<key>duration</key>
						<integer>2</integer>
						<key>x</key>
						<real>1272.85</real>
						<key>y</key>
						<integer>578</integer>
						<key>scaleX</key>
						<integer>2</integer>
						<key>scaleY</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>ease</key>
						<integer>0</integer>
						<key>duration</key>
						<integer>0</integer>
						<key>x</key>
						<real>-192.5</real>
						<key>y</key>
						<integer>581</integer>
						<key>scaleX</key>
						<real>0.8</real>
						<key>scaleY</key>
						<real>0.8</real>
					</dict>
					<dict>
						<key>ease</key>
						<integer>1</integer>
						<key>duration</key>
						<integer>2</integer>
						<key>x</key>
						<integer>78</integer>
						<key>y</key>
						<integer>570</integer>
						<key>scaleX</key>
						<integer>1</integer>
						<key>scaleY</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
