{
	data = {
		respawnObjects = YES;
		hasTop = YES;
		hasBottom = YES;
		hasLeftWall = YES;
		hasRightWall = YES;
		gravityX = 0;
		gravityY = "-2";
		boundingBox = "{{0, 68}, {1024, 700}}";
		useAccelerometer = YES;
		definitions = (
			{
				spriteOffset = "{0,0}";
				preventRotation = NO;
				image = "scene4_stock1.png";
				width = 38;
				height = 283;
				density = 1;
				friction = "0.2";
				restitution = "0.8";
				canGrab = YES;
			},
			{
				image = "scene4_stock2.png";
				width = 38;
				height = 297;
				density = "0.2";
				friction = "0.2";
				restitution = "0.5";
				canGrab = YES;
			},
			{
				image = "scene4_stock3.png";
				width = 42;
				height = 340;
				density = "0.2";
				friction = "0.2";
				restitution = "0.5";
				canGrab = YES;
			},
			{
				image = "scene22_rock1_d.png";
				width = 235;
				height = 231;
				density = "0.2";
				friction = "0.2";
				restitution = "0.5";
				canGrab = YES;
			},
			{
				image = "scene22_rock2_d.png";
				width = 225;
				height = 141;
				density = "0.2";
				friction = "0.2";
				restitution = "0.5";
				canGrab = YES;
			},
			{
				image = "scene22_rock3_d.png";
				width = 119;
				height = 191;
				density = "0.2";
				friction = "0.2";
				restitution = "0.5";
				canGrab = YES;
			},
		);
	};
	objects = (
		{
			x = 277;
			y = 446;
			rotation = "-30";
			impulseX = 1;
			impulseY = "-1";
			spin = 1;
			definition = 0;
		},
		{
			x = 512;
			y = 397;
			rotation = "-45";
			impulseX = 1;
			impulseY = "-1";
			spin = 1;
			definition = 1;
		},
		{
			x = 571;
			y = 264;
			rotation = "-60";
			impulseX = 1;
			impulseY = "-1";
			spin = 1;
			definition = 2;
		},
		{
			x = 571;
			y = 264;
			rotation = "-60";
			impulseX = 1;
			impulseY = "-1";
			spin = 1;
			definition = 3;
		},
		{
			x = 571;
			y = 264;
			rotation = "-60";
			impulseX = 1;
			impulseY = "-1";
			spin = 1;
			definition = 4;
		},
		{
			x = 571;
			y = 264;
			rotation = "-60";
			impulseX = 1;
			impulseY = "-1";
			spin = 1;
			definition = 5;
		},
	);
}