<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>bgColor</key>
			<string>BLACK</string>
			<key>hasPhysics</key>
			<true/>
			<key>bgSound</key>
			<dict>
				<key>filename</key>
				<string>ambience_scene_22.m4a</string>
				<key>volume</key>
				<real>0.8</real>
				<key>repeat</key>
				<true/>
			</dict>
			<key>static</key>
			<dict>
				<key>text</key>
				<dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{700,242},{293,395}}</string>
						<key>text</key>
						<string>     “Watch out, Thomas,” 
Whiff puffed. “Percy and I are going to push through the 
rocks to reach you.” With that, Percy and Whiff pumped their pistons and crashed through the rocks. Whiff pulled the brave engines out of the tunnel. The Logging Locos wheeshed and whooshed with wonder when they saw the sunny Island of Sodor.</string>
						<key>z</key>
						<integer>40</integer>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>size</key>
						<integer>21</integer>
						<key>color</key>
						<string>WHITE</string>
						<key>linespacing</key>
						<integer>10</integer>
					</dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{700,242},{293,395}}</string>
						<key>text</key>
						<string>     “Watch out, Thomas,” 
Whiff puffed. “Percy and I are going to push through the 
rocks to reach you.” With that, Percy and Whiff pumped their pistons and crashed through the rocks. Whiff pulled the brave engines out of the tunnel. The Logging Locos wheeshed and whooshed with wonder when they saw the sunny Island of Sodor.</string>
						<key>z</key>
						<integer>40</integer>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>size</key>
						<integer>21</integer>
						<key>color</key>
						<string>WHITE</string>
						<key>linespacing</key>
						<integer>10</integer>
					</dict>
				</dict>
				<key>background</key>
				<array>
					<dict>
						<key>name</key>
						<string>scene22_bkg1</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene22_bkg2</string>
						<key>children</key>
						<array/>
					</dict>
				</array>
			</dict>
			<key>animated</key>
			<dict>
				<key>objects</key>
				<array>
					<dict>
						<key>name</key>
						<string>scene22_percy</string>
						<key>children</key>
						<array>
							<dict>
								<key>name</key>
								<string>scene22_percy_smoke</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>name</key>
								<string>scene22_percy_smoke2</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>name</key>
								<string>scene22_percy_smokestacks</string>
								<key>children</key>
								<array/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>scene22_rock1</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene22_rock2</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene22_rock3</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene22_rock4</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene22_rock5</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene22_rock6</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene22_rock7</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene22_rock8</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene22_rock9</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene22_rock10</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene22_placeholder</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene22_animationtrigger</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene22_smoke</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene22_thomas_smokestack</string>
						<key>children</key>
						<array/>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_bkg1</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_bkg1</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>512</string>
			<key>y</key>
			<string>384</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_bkg2</string>
		<key>z</key>
		<integer>25</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_bkg2</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>823</string>
			<key>y</key>
			<string>384</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_percy</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_percy</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>949.45</real>
			<key>y</key>
			<real>85.54999999999995</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>1</real>
						<key>sound</key>
						<string>scene22_rocks.m4a</string>
						<key>duration</key>
						<real>2.708333333333333</real>
						<key>x</key>
						<real>528.5</real>
						<key>y</key>
						<real>287.5</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_rock1</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_rock1</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>552.5</real>
			<key>y</key>
			<real>322.05</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>1.333333333333333</real>
						<key>x</key>
						<real>245.5</real>
						<key>y</key>
						<real>146</real>
						<key>rotation</key>
						<real>-87.5</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_rock2</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_rock2</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>546</real>
			<key>y</key>
			<real>293</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>1.208333333333333</real>
						<key>x</key>
						<real>363.95</real>
						<key>y</key>
						<real>175.95</real>
						<key>rotation</key>
						<real>-107.4</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_rock3</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_rock3</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>345.5</real>
			<key>y</key>
			<real>310.05</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>1.125</real>
						<key>x</key>
						<real>110.65</real>
						<key>y</key>
						<real>173.2</real>
						<key>rotation</key>
						<real>-24.9</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_rock4</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_rock4</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>250</real>
			<key>y</key>
			<real>228.05</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>1</real>
						<key>x</key>
						<real>55</real>
						<key>y</key>
						<real>144.05</real>
						<key>rotation</key>
						<real>-9.699999999999999</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_rock5</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_rock5</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>528</real>
			<key>y</key>
			<real>204.05</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.875</real>
						<key>x</key>
						<real>377.05</real>
						<key>y</key>
						<real>104.05</real>
						<key>rotation</key>
						<real>-62.9</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_rock6</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_rock1</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>581.5</real>
			<key>y</key>
			<real>99</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.7083333333333334</real>
						<key>x</key>
						<real>481.15</real>
						<key>y</key>
						<real>-9.899999999999977</real>
						<key>rotation</key>
						<real>-23</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_rock7</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_rock2</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>393</real>
			<key>y</key>
			<real>148</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>1.125</real>
						<key>x</key>
						<real>288.25</real>
						<key>y</key>
						<real>139.95</real>
						<key>rotation</key>
						<real>-53.1</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_rock8</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_rock3</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>122.45</real>
			<key>y</key>
			<real>72</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.9583333333333334</real>
						<key>x</key>
						<real>56.45</real>
						<key>y</key>
						<real>72.20000000000005</real>
						<key>rotation</key>
						<real>-39.7</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_rock9</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_rock4</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>222.95</real>
			<key>y</key>
			<real>67.04999999999995</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.875</real>
						<key>x</key>
						<real>156.65</real>
						<key>y</key>
						<real>67.10000000000002</real>
						<key>rotation</key>
						<real>-75</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_rock10</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_rock5</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>383</real>
			<key>y</key>
			<real>46.04999999999995</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.75</real>
						<key>x</key>
						<real>317</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_placeholder</string>
		<key>z</key>
		<integer>80</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_placeholder</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<true/>
		</dict>
		<key>frameAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>texturedata</key>
				<string>scene22_texture</string>
				<key>repeatForever</key>
				<false/>
				<key>source</key>
				<dict>
					<key>forehead</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>totalFrames</key>
							<string>53</string>
							<key>width</key>
							<string>93</string>
							<key>height</key>
							<string>61</string>
							<key>x</key>
							<string>128.5</string>
							<key>y</key>
							<string>500.5</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_04</string>
							<string>scene22_thomas_forehead_04</string>
							<string>scene22_thomas_forehead_05</string>
							<string>scene22_thomas_forehead_05</string>
							<string>scene22_thomas_forehead_02</string>
							<string>scene22_thomas_forehead_02</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_03</string>
							<string>scene22_thomas_forehead_02</string>
							<string>scene22_thomas_forehead_02</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_04</string>
							<string>scene22_thomas_forehead_04</string>
							<string>scene22_thomas_forehead_05</string>
							<string>scene22_thomas_forehead_05</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_01</string>
							<string>scene22_thomas_forehead_01</string>
						</array>
					</array>
					<key>eye</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>sound</key>
							<string>thomas_interactive_scene_22.m4a</string>
							<key>totalFrames</key>
							<string>53</string>
							<key>width</key>
							<string>78</string>
							<key>height</key>
							<string>37</string>
							<key>x</key>
							<string>130</string>
							<key>y</key>
							<string>494.5</string>
							<key>z</key>
							<integer>8</integer>
						</dict>
						<array>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_02</string>
							<string>scene22_thomas_eyes_02</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_02</string>
							<string>scene22_thomas_eyes_02</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
							<string>scene22_thomas_eyes_01</string>
						</array>
					</array>
					<key>mouth</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>totalFrames</key>
							<string>53</string>
							<key>width</key>
							<string>93</string>
							<key>height</key>
							<string>41</string>
							<key>x</key>
							<string>128.5</string>
							<key>y</key>
							<string>455.5</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_03</string>
							<string>scene22_thomas_mouth_03</string>
							<string>scene22_thomas_mouth_02</string>
							<string>scene22_thomas_mouth_02</string>
							<string>scene22_thomas_mouth_02</string>
							<string>scene22_thomas_mouth_04</string>
							<string>scene22_thomas_mouth_04</string>
							<string>scene22_thomas_mouth_04</string>
							<string>scene22_thomas_mouth_04</string>
							<string>scene22_thomas_mouth_04</string>
							<string>scene22_thomas_mouth_04</string>
							<string>scene22_thomas_mouth_04</string>
							<string>scene22_thomas_mouth_04</string>
							<string>scene22_thomas_mouth_04</string>
							<string>scene22_thomas_mouth_05</string>
							<string>scene22_thomas_mouth_05</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
							<string>scene22_thomas_mouth_01</string>
						</array>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_animationtrigger</string>
		<key>z</key>
		<integer>80</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_animationtrigger</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<integer>73</integer>
			<key>y</key>
			<integer>418</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
		</dict>
		<key>animationTrigger</key>
		<dict>
			<key>repeatable</key>
			<true/>
			<key>objects</key>
			<array>
				<string>scene22_placeholder</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_smoke</string>
		<key>z</key>
		<integer>6</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_smoke</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>p0x</key>
			<integer>117</integer>
			<key>p0y</key>
			<integer>571</integer>
			<key>p1x</key>
			<integer>113</integer>
			<key>p1y</key>
			<integer>611</integer>
			<key>p2x</key>
			<integer>105</integer>
			<key>p2y</key>
			<integer>643</integer>
			<key>p3x</key>
			<integer>86</integer>
			<key>p3y</key>
			<integer>682</integer>
			<key>startSize</key>
			<integer>40</integer>
			<key>endSize</key>
			<integer>25</integer>
			<key>endSizeVar</key>
			<integer>20</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_thomas_smokestack</string>
		<key>z</key>
		<integer>25</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_thomas_smokestack</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>104</string>
			<key>y</key>
			<string>542</string>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_percy_smoke</string>
		<key>z</key>
		<integer>6</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_smoke</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>p0x</key>
			<integer>180</integer>
			<key>p0y</key>
			<integer>564</integer>
			<key>p1x</key>
			<integer>182</integer>
			<key>p1y</key>
			<integer>614</integer>
			<key>p2x</key>
			<integer>214</integer>
			<key>p2y</key>
			<integer>649</integer>
			<key>p3x</key>
			<integer>205</integer>
			<key>p3y</key>
			<integer>707</integer>
			<key>startSize</key>
			<integer>50</integer>
			<key>endSize</key>
			<integer>100</integer>
			<key>endSizeVar</key>
			<integer>100</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_percy_smoke2</string>
		<key>z</key>
		<integer>7</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_smoke</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>p0x</key>
			<integer>338</integer>
			<key>p0y</key>
			<integer>535</integer>
			<key>p1x</key>
			<integer>339</integer>
			<key>p1y</key>
			<integer>604</integer>
			<key>p2x</key>
			<integer>371</integer>
			<key>p2y</key>
			<integer>668</integer>
			<key>p3x</key>
			<integer>361</integer>
			<key>p3y</key>
			<integer>739</integer>
			<key>startSize</key>
			<integer>60</integer>
			<key>endSize</key>
			<integer>100</integer>
			<key>endSizeVar</key>
			<integer>100</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene22_percy_smokestacks</string>
		<key>z</key>
		<integer>35</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene22_percy_smokestacks</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>153</string>
			<key>y</key>
			<string>508</string>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
