<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>scene22_thomas_eyes_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 37}</string>
			<key>spriteSourceSize</key>
			<string>{78, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 2}, {78, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene22_thomas_eyes_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 37}</string>
			<key>spriteSourceSize</key>
			<string>{78, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{367, 2}, {78, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene22_thomas_forehead_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 61}</string>
			<key>spriteSourceSize</key>
			<string>{93, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 128}, {93, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene22_thomas_forehead_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 61}</string>
			<key>spriteSourceSize</key>
			<string>{93, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 2}, {93, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene22_thomas_forehead_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 61}</string>
			<key>spriteSourceSize</key>
			<string>{93, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 65}, {93, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene22_thomas_forehead_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 61}</string>
			<key>spriteSourceSize</key>
			<string>{93, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {93, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene22_thomas_forehead_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 61}</string>
			<key>spriteSourceSize</key>
			<string>{93, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 191}, {93, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene22_thomas_mouth_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 41}</string>
			<key>spriteSourceSize</key>
			<string>{93, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 151}, {93, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene22_thomas_mouth_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 41}</string>
			<key>spriteSourceSize</key>
			<string>{93, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 194}, {93, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene22_thomas_mouth_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 41}</string>
			<key>spriteSourceSize</key>
			<string>{93, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 108}, {93, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene22_thomas_mouth_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 41}</string>
			<key>spriteSourceSize</key>
			<string>{93, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 2}, {93, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scene22_thomas_mouth_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 41}</string>
			<key>spriteSourceSize</key>
			<string>{93, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 65}, {93, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>