<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>bgColor</key>
			<string>WHITE</string>
			<key>static</key>
			<dict>
				<key>text</key>
				<dict>
					<key>boundingBox</key>
					<string>{{37,207},{306,337}}</string>
					<key>text</key>
					<string>     Thomas needed a way to load the jobi wood onto flatbeds. Luckily, he spotted an old machine. “That’s Hee Haw,” said Dash. “He’s the old log-loading machine.” “He needs too much oil,” Bash added. “That’s why we don’t use him.” Thomas wasn’t worried. They poured the last of the oil into Hee Haw.</string>
					<key>z</key>
					<integer>40</integer>
					<key>font</key>
					<string>Hoefler Text</string>
					<key>size</key>
					<integer>21</integer>
					<key>color</key>
					<string>BLACK</string>
				</dict>
				<key>background</key>
				<array>
					<dict>
						<key>name</key>
						<string>scene16_bkg1</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene16_bkg2</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene16_bkg3</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>scene16_bkg4</string>
						<key>children</key>
						<array/>
					</dict>
				</array>
			</dict>
			<key>animated</key>
			<dict>
				<key>objects</key>
				<array>
					<dict>
						<key>name</key>
						<string>scene16_bash</string>
						<key>children</key>
						<array>
							<dict>
								<key>name</key>
								<string>scene16_bash_smoke</string>
								<key>children</key>
								<array/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>scene16_dash</string>
						<key>children</key>
						<array>
							<dict>
								<key>name</key>
								<string>scene16_dash_smoke</string>
								<key>children</key>
								<array/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>scene16_thomas</string>
						<key>children</key>
						<array>
							<dict>
								<key>name</key>
								<string>scene16_thomas_smoke</string>
								<key>children</key>
								<array/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>scene16_machineholder</string>
						<key>children</key>
						<array>
							<dict>
								<key>name</key>
								<string>scene16_machine_bkg2</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>name</key>
								<string>scene16_machine_bkg1</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>name</key>
								<string>scene16_machine_bkg8</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>name</key>
								<string>scene16_machine_bkg3</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>name</key>
								<string>scene16_machine_bkg7_4</string>
								<key>children</key>
								<array/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>smoke</string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>ropeholder</string>
						<key>children</key>
						<array>
							<dict>
								<key>name</key>
								<string>scene16_machine_bkg10</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>name</key>
								<string>scene16_machine_bkg12</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>name</key>
								<string>scene16_machine_bkg9</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>name</key>
								<string>scene16_machine_bkg11</string>
								<key>children</key>
								<array/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>scene16_smokepuffholder</string>
						<key>children</key>
						<array>
							<dict>
								<key>name</key>
								<string>smoke2</string>
								<key>children</key>
								<array/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>scene16_smokepuffholder2</string>
						<key>children</key>
						<array>
							<dict>
								<key>name</key>
								<string>smoke3</string>
								<key>children</key>
								<array/>
							</dict>
						</array>
					</dict>
				</array>
				<key>fog</key>
				<dict>
					<key>x</key>
					<integer>680</integer>
					<key>y</key>
					<integer>192</integer>
					<key>width</key>
					<integer>800</integer>
					<key>height</key>
					<integer>384</integer>
					<key>z</key>
					<integer>36</integer>
					<key>density</key>
					<real>0.5</real>
					<key>turbulence</key>
					<real>0.1</real>
					<key>topBorder</key>
					<integer>20</integer>
					<key>bottomBorder</key>
					<integer>-1</integer>
					<key>noiseScaleX</key>
					<real>0.05</real>
					<key>noiseScaleY</key>
					<real>0.1</real>
					<key>spawnTop</key>
					<integer>0</integer>
					<key>spawnBottom</key>
					<integer>64</integer>
					<key>windSpeed</key>
					<integer>20</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_bkg1</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_bkg1</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>693.5</string>
			<key>y</key>
			<string>384</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_bkg2</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_bkg2</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>712.45</string>
			<key>y</key>
			<string>226.04999999999995</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_bkg3</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_bkg3</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>701.4</string>
			<key>y</key>
			<string>194.70000000000005</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_bkg4</string>
		<key>z</key>
		<integer>30</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_bkg4</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>200</string>
			<key>y</key>
			<string>384</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_bash</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_bash</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>296.5</real>
			<key>y</key>
			<real>389.45</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>1</real>
						<key>duration</key>
						<real>6.041666666666667</real>
						<key>x</key>
						<real>624</real>
						<key>y</key>
						<real>376.45</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_dash</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_dash</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>317.65</real>
			<key>y</key>
			<real>389.05</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>1</real>
						<key>duration</key>
						<real>6.041666666666667</real>
						<key>x</key>
						<real>468.15</real>
						<key>y</key>
						<real>382.55</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_thomas</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_thomas</string>
			<key>scaleX</key>
			<real>0.652</real>
			<key>scaleY</key>
			<real>0.652</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>240</real>
			<key>y</key>
			<real>380.95</real>
			<key>transformationPointX</key>
			<real>0.4580357142857143</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>start</string>
				<key>repeatForever</key>
				<false/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>1</real>
						<key>duration</key>
						<real>3.791666666666667</real>
						<key>x</key>
						<real>844.5</real>
						<key>y</key>
						<real>400.45</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>1</real>
						<key>duration</key>
						<real>2.25</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_machine_bkg2</string>
		<key>z</key>
		<integer>14</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_machine_bkg2</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>278.9</real>
			<key>y</key>
			<real>161.9</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>repeatForever</key>
				<true/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.125</real>
						<key>y</key>
						<real>160.4</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.08333333333333334</real>
						<key>x</key>
						<real>278.15</real>
						<key>y</key>
						<real>161.9</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.08333333333333334</real>
						<key>x</key>
						<real>278.35</real>
						<key>y</key>
						<real>161.85</real>
						<key>rotation</key>
						<real>2.5</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.1666666666666666</real>
						<key>x</key>
						<real>278.25</real>
						<key>y</key>
						<real>162.6</real>
						<key>rotation</key>
						<real>2</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.2083333333333333</real>
						<key>x</key>
						<real>278.35</real>
						<key>y</key>
						<real>162.45</real>
						<key>rotation</key>
						<real>-1.1</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.2083333333333334</real>
						<key>x</key>
						<real>279.45</real>
						<key>y</key>
						<real>162.2</real>
						<key>rotation</key>
						<real>-0.6</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.375</real>
						<key>x</key>
						<real>278.9</real>
						<key>y</key>
						<real>161.9</real>
						<key>rotation</key>
						<real>0</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_machineholder</string>
		<key>z</key>
		<integer>33</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_machineholder</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<integer>617</integer>
			<key>y</key>
			<integer>419</integer>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>repeatForever</key>
				<false/>
			</dict>
		</array>
		<key>animationTrigger</key>
		<dict>
			<key>repeatable</key>
			<false/>
			<key>objects</key>
			<array>
				<string>scene16_machine_bkg2</string>
				<string>scene16_machine_bkg3</string>
				<string>scene16_machine_bkg7_4</string>
				<string>scene16_machine_bkg9</string>
				<string>scene16_machine_bkg11</string>
				<string>scene16_machine_bkg12</string>
				<string>scene16_machine_bkg10</string>
				<string>scene16_smokepuffholder</string>
				<string>scene16_smokepuffholder2</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_machine_bkg1</string>
		<key>z</key>
		<integer>0</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_machine_bkg1</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>270.4</string>
			<key>y</key>
			<string>281.6</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_machine_bkg8</string>
		<key>z</key>
		<integer>18</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_machine_bkg8</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<string>252</string>
			<key>y</key>
			<string>229.79999999999995</string>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_machine_bkg3</string>
		<key>z</key>
		<integer>15</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_machine_bkg3</string>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>272.5</real>
			<key>y</key>
			<real>268.9</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<true/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>repeatForever</key>
				<true/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.1666666666666667</real>
						<key>y</key>
						<real>269.65</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.125</real>
						<key>y</key>
						<real>268.1</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.125</real>
						<key>y</key>
						<real>267.45</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.2083333333333333</real>
						<key>y</key>
						<real>267.8</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.08333333333333337</real>
						<key>x</key>
						<real>272.4</real>
						<key>y</key>
						<real>261.95</real>
						<key>scaleX</key>
						<real>1.098</real>
						<key>scaleY</key>
						<real>0.959</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.2083333333333333</real>
						<key>y</key>
						<real>265.85</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.1666666666666666</real>
						<key>x</key>
						<real>272.45</real>
						<key>y</key>
						<real>269.1</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.1666666666666667</real>
						<key>x</key>
						<real>272.5</real>
						<key>y</key>
						<real>268.9</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_machine_bkg7_4</string>
		<key>z</key>
		<integer>16</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_machine_bkg4_1</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>267.5</real>
			<key>y</key>
			<real>153.9</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<false/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>repeatForever</key>
				<true/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.4166666666666667</real>
						<key>rotation</key>
						<real>-2.5</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.8333333333333333</real>
						<key>rotation</key>
						<real>0</real>
					</dict>
				</array>
			</dict>
		</array>
		<key>frameAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>texturedata</key>
				<string>scene16_spinningwheel_texture</string>
				<key>repeatForever</key>
				<true/>
				<key>source</key>
				<dict>
					<key>bkg5</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>totalFrames</key>
							<string>6</string>
							<key>width</key>
							<string>143</string>
							<key>height</key>
							<string>111</string>
							<key>x</key>
							<string>71.5</string>
							<key>y</key>
							<string>55.5</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene16_machine_bkg5_2</string>
							<string>scene16_machine_bkg5_2</string>
							<string>scene16_machine_bkg6_3</string>
							<string>scene16_machine_bkg6_3</string>
							<string>scene16_machine_bkg7_4</string>
							<string>scene16_machine_bkg7_4</string>
						</array>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_machine_bkg9</string>
		<key>z</key>
		<integer>19</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_machine_bkg9</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>145.6</real>
			<key>y</key>
			<real>417.8</real>
			<key>transformationPointX</key>
			<real>0.513039464574198</real>
			<key>transformationPointY</key>
			<real>0.4842271293375394</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<true/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>repeatForever</key>
				<true/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.3333333333333333</real>
						<key>x</key>
						<real>147.85</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.9166666666666667</real>
						<key>x</key>
						<real>145.6</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.04166666666666674</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.2916666666666665</real>
						<key>x</key>
						<real>147.85</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.9166666666666667</real>
						<key>x</key>
						<real>145.6</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.04166666666666652</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.291666666666667</real>
						<key>x</key>
						<real>147.85</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.9166666666666665</real>
						<key>x</key>
						<real>145.6</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_machine_bkg11</string>
		<key>z</key>
		<integer>20</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_machine_bkg11</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>161.65</real>
			<key>y</key>
			<real>449.3</real>
			<key>transformationPointX</key>
			<real>0.522497704315886</real>
			<key>transformationPointY</key>
			<real>0.4797979797979799</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<true/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>repeatForever</key>
				<true/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>1</real>
						<key>x</key>
						<real>160.15</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.25</real>
						<key>x</key>
						<real>161.65</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.04166666666666674</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.9583333333333333</real>
						<key>x</key>
						<real>160.15</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.25</real>
						<key>x</key>
						<real>161.65</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.04166666666666652</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.9583333333333335</real>
						<key>x</key>
						<real>160.15</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.25</real>
						<key>x</key>
						<real>161.65</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_machine_bkg12</string>
		<key>z</key>
		<integer>24</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_machine_bkg12</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>56.8</real>
			<key>y</key>
			<real>737.7</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<true/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>repeatForever</key>
				<true/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.9583333333333334</real>
						<key>x</key>
						<real>249.5</real>
						<key>y</key>
						<real>208.2</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.04166666666666663</real>
						<key>x</key>
						<real>56.8</real>
						<key>y</key>
						<real>737.7</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>2.75</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_machine_bkg10</string>
		<key>z</key>
		<integer>23</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_machine_bkg10</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<real>36.75</real>
			<key>y</key>
			<real>759.5</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<true/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>repeatForever</key>
				<true/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>1.083333333333333</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.04166666666666674</real>
						<key>x</key>
						<real>239.45</real>
						<key>y</key>
						<real>139.2</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>1.041666666666667</real>
						<key>x</key>
						<real>36.75</real>
						<key>y</key>
						<real>759.5</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>1.583333333333333</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>smoke</string>
		<key>z</key>
		<integer>13</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_smoke</string>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>10</integer>
			<key>p0x</key>
			<integer>618</integer>
			<key>p0y</key>
			<integer>425</integer>
			<key>p1x</key>
			<integer>634</integer>
			<key>p1y</key>
			<integer>594</integer>
			<key>p2x</key>
			<integer>587</integer>
			<key>p2y</key>
			<integer>644</integer>
			<key>p3x</key>
			<integer>601</integer>
			<key>p3y</key>
			<integer>723</integer>
			<key>startSize</key>
			<integer>45</integer>
			<key>endSize</key>
			<integer>2</integer>
			<key>endSizeVar</key>
			<integer>40</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>ropeholder</string>
		<key>z</key>
		<integer>35</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_machine_bkg10</string>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<integer>369</integer>
			<key>y</key>
			<integer>42</integer>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<true/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>repeatForever</key>
				<true/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>1.083333333333333</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.04166666666666674</real>
						<key>x</key>
						<real>239.45</real>
						<key>y</key>
						<real>139.2</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>1.041666666666667</real>
						<key>x</key>
						<real>36.75</real>
						<key>y</key>
						<real>759.5</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>1.583333333333333</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_smokepuffholder</string>
		<key>z</key>
		<integer>18</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_smokepuffholder</string>
			<key>scaleX</key>
			<real>0.5</real>
			<key>scaleY</key>
			<real>0.5</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<integer>630</integer>
			<key>y</key>
			<real>447.9</real>
			<key>alpha</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<real>0.4989154013015184</real>
			<key>transformationPointY</key>
			<real>0.5003615328994939</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<true/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>repeatForever</key>
				<true/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>0.3333333333333333</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<integer>4</integer>
						<key>x</key>
						<real>614.55</real>
						<key>y</key>
						<integer>1200</integer>
						<key>scaleX</key>
						<real>1.3</real>
						<key>scaleY</key>
						<real>1.5</real>
						<key>alpha</key>
						<real>0</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<integer>1</integer>
						<key>x</key>
						<real>614.55</real>
						<key>y</key>
						<integer>1400</integer>
						<key>scaleX</key>
						<real>0.2</real>
						<key>scaleY</key>
						<real>0.2</real>
						<key>alpha</key>
						<real>0</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<integer>0</integer>
						<key>x</key>
						<real>625.45</real>
						<key>y</key>
						<real>447.9</real>
						<key>scaleX</key>
						<real>0.2</real>
						<key>scaleY</key>
						<real>0.2</real>
						<key>alpha</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>smoke2</string>
		<key>z</key>
		<integer>13</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_smoke2</string>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>10</integer>
			<key>p0x</key>
			<integer>3</integer>
			<key>p0y</key>
			<integer>-3</integer>
			<key>p1x</key>
			<integer>9</integer>
			<key>p1y</key>
			<integer>-31</integer>
			<key>p2x</key>
			<integer>18</integer>
			<key>p2y</key>
			<integer>-50</integer>
			<key>p3x</key>
			<integer>25</integer>
			<key>p3y</key>
			<integer>-100</integer>
			<key>startSize</key>
			<integer>100</integer>
			<key>endSize</key>
			<integer>2</integer>
			<key>endSizeVar</key>
			<integer>40</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_smokepuffholder2</string>
		<key>z</key>
		<integer>18</integer>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_smokepuffholder</string>
			<key>scaleX</key>
			<real>0.5</real>
			<key>scaleY</key>
			<real>0.5</real>
			<key>rotation</key>
			<real>0</real>
			<key>x</key>
			<integer>630</integer>
			<key>y</key>
			<real>447.9</real>
			<key>alpha</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<real>0.4989154013015184</real>
			<key>transformationPointY</key>
			<real>0.5003615328994939</real>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isVisible</key>
			<true/>
			<key>isInteractive</key>
			<true/>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>type</key>
				<string>interactive</string>
				<key>repeatForever</key>
				<true/>
				<key>keyframes</key>
				<array>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<real>4.3333333</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<integer>4</integer>
						<key>x</key>
						<real>614.55</real>
						<key>y</key>
						<integer>1200</integer>
						<key>scaleX</key>
						<real>1.3</real>
						<key>scaleY</key>
						<real>1.5</real>
						<key>alpha</key>
						<real>0</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<integer>1</integer>
						<key>x</key>
						<real>614.55</real>
						<key>y</key>
						<integer>1400</integer>
						<key>scaleX</key>
						<real>0.2</real>
						<key>scaleY</key>
						<real>0.2</real>
						<key>alpha</key>
						<real>0</real>
					</dict>
					<dict>
						<key>ease</key>
						<real>0</real>
						<key>duration</key>
						<integer>0</integer>
						<key>x</key>
						<real>625.45</real>
						<key>y</key>
						<real>447.9</real>
						<key>scaleX</key>
						<real>0.2</real>
						<key>scaleY</key>
						<real>0.2</real>
						<key>alpha</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>smoke3</string>
		<key>z</key>
		<integer>13</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_smoke2</string>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>10</integer>
			<key>p0x</key>
			<integer>3</integer>
			<key>p0y</key>
			<integer>-3</integer>
			<key>p1x</key>
			<integer>9</integer>
			<key>p1y</key>
			<integer>-30</integer>
			<key>p2x</key>
			<integer>18</integer>
			<key>p2y</key>
			<integer>-50</integer>
			<key>p3x</key>
			<integer>25</integer>
			<key>p3y</key>
			<integer>-100</integer>
			<key>startSize</key>
			<integer>100</integer>
			<key>endSize</key>
			<integer>2</integer>
			<key>endSizeVar</key>
			<integer>40</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_thomas_smoke</string>
		<key>z</key>
		<integer>6</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_thomas_smoke</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>p0x</key>
			<integer>251</integer>
			<key>p0y</key>
			<integer>290</integer>
			<key>p1x</key>
			<integer>263</integer>
			<key>p1y</key>
			<integer>358</integer>
			<key>p2x</key>
			<integer>51</integer>
			<key>p2y</key>
			<integer>364</integer>
			<key>p3x</key>
			<integer>-78</integer>
			<key>p3y</key>
			<integer>359</integer>
			<key>startSize</key>
			<integer>30</integer>
			<key>endSize</key>
			<integer>200</integer>
			<key>endSizeVar</key>
			<integer>90</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_dash_smoke</string>
		<key>z</key>
		<integer>6</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_dash_smoke</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>p0x</key>
			<integer>110</integer>
			<key>p0y</key>
			<integer>230</integer>
			<key>p1x</key>
			<integer>109</integer>
			<key>p1y</key>
			<integer>257</integer>
			<key>p2x</key>
			<integer>71</integer>
			<key>p2y</key>
			<integer>264</integer>
			<key>p3x</key>
			<integer>24</integer>
			<key>p3y</key>
			<integer>263</integer>
			<key>startSize</key>
			<integer>50</integer>
			<key>endSize</key>
			<integer>100</integer>
			<key>endSizeVar</key>
			<integer>60</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene16_bash_smoke</string>
		<key>z</key>
		<integer>6</integer>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene16_bash_smoke</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>p0x</key>
			<integer>126</integer>
			<key>p0y</key>
			<integer>210</integer>
			<key>p1x</key>
			<integer>134</integer>
			<key>p1y</key>
			<integer>251</integer>
			<key>p2x</key>
			<integer>76</integer>
			<key>p2y</key>
			<integer>259</integer>
			<key>p3x</key>
			<integer>-52</integer>
			<key>p3y</key>
			<integer>259</integer>
			<key>startSize</key>
			<integer>50</integer>
			<key>endSize</key>
			<integer>100</integer>
			<key>endSizeVar</key>
			<integer>90</integer>
		</dict>
	</dict>
</array>
</plist>
