<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>animated</key>
			<dict>
				<key>objects</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene13_triggerarea</string>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene13_bash_smokestack</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene13_bash_smoke</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>bash_wistle</string>
							</dict>
						</array>
						<key>name</key>
						<string>bash</string>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>dash_wistle</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene13_dash_smoke</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene13_dash_smokestack</string>
							</dict>
						</array>
						<key>name</key>
						<string>dash</string>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene13_thomas_smoke</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene13_thomas_smokestack</string>
							</dict>
						</array>
						<key>name</key>
						<string>thomas</string>
					</dict>
				</array>
			</dict>
			<key>bgColor</key>
			<string>WHITE</string>
			<key>offsetY</key>
			<integer>60</integer>
			<key>bgSound</key>
			<dict>
				<key>filename</key>
				<string>ambience_scene_12.m4a</string>
				<key>repeat</key>
				<true/>
				<key>volume</key>
				<real>0.9</real>
			</dict>
			<key>static</key>
			<dict>
				<key>background</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene13_bkg1</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene13_bkg2</string>
					</dict>
				</array>
				<key>text</key>
				<dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{37,202},{290,285}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Georgia</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>overlayText</key>
						<string>Then Thomas realised something amazing. “These logs are jobi logs! That’s the wood we need to build the Search and Rescue Centre!” The Logging Locos agreed to help Thomas collect logs.</string>
						<key>size</key>
						<integer>19</integer>
						<key>text</key>
						<string>      Then Thomas realised something amazing. “These logs are jobi logs! That’s the wood we need to build the Search and Rescue Centre!” The Logging Locos agreed to help Thomas collect logs.</string>
						<key>z</key>
						<integer>30</integer>
					</dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{37,202},{290,285}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Georgia</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>overlayText</key>
						<string>Then Thomas realized something amazing. “These logs are jobi logs! That’s the wood we need to build the Search and Rescue Center!” The Logging Locos agreed to help Thomas collect logs.</string>
						<key>size</key>
						<integer>19</integer>
						<key>text</key>
						<string>      Then Thomas realized something amazing. “These logs are jobi logs! That’s the wood we need to build the Search and Rescue Center!” The Logging Locos agreed to help Thomas collect logs.</string>
						<key>z</key>
						<integer>30</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene13_bkg1</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene13_bkg1</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<string>512</string>
			<key>y</key>
			<string>384</string>
		</dict>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>bash_wistle</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>clickarea</key>
		<string>{{383,249},{73,183}}</string>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>bash</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene13_bash</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1.164</real>
			<key>scaleY</key>
			<real>1.164</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<real>60.45</real>
			<key>y</key>
			<real>-125.5</real>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>2.708333333333333</real>
						<key>ease</key>
						<real>1</real>
						<key>scaleX</key>
						<real>1</real>
						<key>scaleY</key>
						<real>1</real>
						<key>x</key>
						<real>675.5</real>
						<key>y</key>
						<real>237.5</real>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>start</string>
			</dict>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>2.708333333333333</real>
						<key>ease</key>
						<real>1</real>
						<key>sound</key>
						<string>bash_interactive_scene13.m4a</string>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>interactive</string>
			</dict>
		</array>
		<key>z</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>thomas</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>scene13_triggerarea</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene13_triggerarea</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<integer>776</integer>
			<key>y</key>
			<integer>430</integer>
		</dict>
		<key>z</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene13_bkg2</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene13_bkg2</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<string>195</string>
			<key>y</key>
			<string>384</string>
		</dict>
		<key>z</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>dash_wistle</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>clickarea</key>
		<string>{{270,333},{72,124}}</string>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<false/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>dash</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene13_dash</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<real>-63.5</real>
			<key>y</key>
			<real>28.5</real>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>2.708333333333333</real>
						<key>ease</key>
						<real>1</real>
						<key>x</key>
						<real>518.5</real>
						<key>y</key>
						<real>308.5</real>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>start</string>
			</dict>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>2.708333333333333</real>
						<key>ease</key>
						<real>1</real>
						<key>sound</key>
						<string>dash_interactive_scene13.m4a</string>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>interactive</string>
			</dict>
		</array>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>frameAnimations</key>
		<array>
			<dict>
				<key>repeatForever</key>
				<false/>
				<key>returnToFirstFrame</key>
				<true/>
				<key>source</key>
				<dict>
					<key>eye</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>50</string>
							<key>totalFrames</key>
							<string>66</string>
							<key>width</key>
							<string>32</string>
							<key>x</key>
							<string>95.5</string>
							<key>y</key>
							<string>284</string>
							<key>z</key>
							<integer>8</integer>
						</dict>
						<array>
							<string>scene13_eyes_1</string>
							<string>scene13_eyes_1</string>
							<string>scene13_eyes_1</string>
							<string>scene13_eyes_1</string>
							<string>scene13_eyes_blink</string>
							<string>scene13_eyes_blink</string>
							<string>scene13_eyes_2</string>
							<string>scene13_eyes_2</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_blink</string>
							<string>scene13_eyes_blink</string>
							<string>scene13_eyes_3</string>
							<string>scene13_eyes_3</string>
						</array>
					</array>
					<key>forehead</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>70</string>
							<key>sound</key>
							<string>thomas_interactive_scene_13.m4a</string>
							<key>totalFrames</key>
							<string>32</string>
							<key>width</key>
							<string>74</string>
							<key>x</key>
							<string>99</string>
							<key>y</key>
							<string>289</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene13_forehead_1</string>
							<string>scene13_forehead_1</string>
							<string>scene13_forehead_1</string>
							<string>scene13_forehead_4</string>
							<string>scene13_forehead_4</string>
							<string>scene13_forehead_2</string>
							<string>scene13_forehead_2</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_4</string>
							<string>scene13_forehead_4</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
							<string>scene13_forehead_3</string>
						</array>
					</array>
					<key>mouth</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>42</string>
							<key>totalFrames</key>
							<string>32</string>
							<key>width</key>
							<string>77</string>
							<key>x</key>
							<string>97.5</string>
							<key>y</key>
							<string>255</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene13_mouth_1</string>
							<string>scene13_mouth_1</string>
							<string>scene13_mouth_3</string>
							<string>scene13_mouth_3</string>
							<string>scene13_mouth_5</string>
							<string>scene13_mouth_5</string>
							<string>scene13_mouth_2</string>
							<string>scene13_mouth_2</string>
							<string>scene13_mouth_2</string>
							<string>scene13_mouth_2</string>
							<string>scene13_mouth_1</string>
							<string>scene13_mouth_1</string>
							<string>scene13_mouth_1</string>
							<string>scene13_mouth_4</string>
							<string>scene13_mouth_4</string>
							<string>scene13_mouth_4</string>
							<string>scene13_mouth_5</string>
							<string>scene13_mouth_5</string>
							<string>scene13_mouth_2</string>
							<string>scene13_mouth_2</string>
							<string>scene13_mouth_2</string>
							<string>scene13_mouth_2</string>
							<string>scene13_mouth_4</string>
							<string>scene13_mouth_4</string>
							<string>scene13_mouth_4</string>
							<string>scene13_mouth_4</string>
							<string>scene13_mouth_4</string>
							<string>scene13_mouth_4</string>
							<string>scene13_mouth_4</string>
							<string>scene13_mouth_1</string>
							<string>scene13_mouth_1</string>
							<string>scene13_mouth_1</string>
						</array>
					</array>
				</dict>
				<key>texturedata</key>
				<string>scene13_thomas_texture</string>
				<key>type</key>
				<string>interactive</string>
				<key>visibleInactive</key>
				<true/>
			</dict>
		</array>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>thomas</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene13_thomas</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0</real>
			<key>transformationPointY</key>
			<real>1</real>
			<key>x</key>
			<real>1024</real>
			<key>y</key>
			<real>825</real>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<real>2.708333333333333</real>
						<key>ease</key>
						<real>1</real>
						<key>x</key>
						<real>718</real>
						<key>y</key>
						<real>679</real>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>start</string>
			</dict>
		</array>
		<key>z</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene13_thomas_smoke</string>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>150</integer>
			<key>endSizeVar</key>
			<integer>60</integer>
			<key>name</key>
			<string>scene13_thomas_smoke</string>
			<key>p0x</key>
			<integer>134</integer>
			<key>p0y</key>
			<integer>367</integer>
			<key>p1x</key>
			<integer>127</integer>
			<key>p1y</key>
			<integer>430</integer>
			<key>p2x</key>
			<integer>251</integer>
			<key>p2y</key>
			<integer>480</integer>
			<key>p3x</key>
			<integer>360</integer>
			<key>p3y</key>
			<integer>489</integer>
			<key>startSize</key>
			<integer>30</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene13_bash_smoke</string>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>10</integer>
			<key>endSizeVar</key>
			<integer>20</integer>
			<key>name</key>
			<string>scene13_bash_smoke</string>
			<key>p0x</key>
			<integer>474</integer>
			<key>p0y</key>
			<integer>463</integer>
			<key>p1x</key>
			<integer>497</integer>
			<key>p1y</key>
			<integer>489</integer>
			<key>p2x</key>
			<integer>492</integer>
			<key>p2y</key>
			<integer>521</integer>
			<key>p3x</key>
			<integer>524</integer>
			<key>p3y</key>
			<integer>537</integer>
			<key>startSize</key>
			<integer>100</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene13_dash_smoke</string>
		<key>smoke</key>
		<true/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>3</integer>
			<key>endSizeVar</key>
			<integer>34</integer>
			<key>name</key>
			<string>scene13_dash_smoke</string>
			<key>p0x</key>
			<integer>353</integer>
			<key>p0y</key>
			<integer>460</integer>
			<key>p1x</key>
			<integer>382</integer>
			<key>p1y</key>
			<integer>496</integer>
			<key>p2x</key>
			<integer>376</integer>
			<key>p2y</key>
			<integer>537</integer>
			<key>p3x</key>
			<integer>435</integer>
			<key>p3y</key>
			<integer>566</integer>
			<key>startSize</key>
			<integer>60</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene13_bash_smokestack</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene13_bash_smokestack</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<integer>446</integer>
			<key>y</key>
			<integer>422</integer>
		</dict>
		<key>z</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene13_dash_smokestack</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene13_dash_smokestack</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<integer>331</integer>
			<key>y</key>
			<integer>428</integer>
		</dict>
		<key>z</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene13_thomas_smokestack</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene13_thomas_smokestack</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<integer>118</integer>
			<key>y</key>
			<integer>353</integer>
		</dict>
		<key>z</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>bash_wistle</string>
		<key>smoke</key>
		<false/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>120</integer>
			<key>endSizeVar</key>
			<integer>80</integer>
			<key>name</key>
			<string>scene13_wistle_smoke</string>
			<key>p0x</key>
			<integer>427</integer>
			<key>p0y</key>
			<integer>414</integer>
			<key>p1x</key>
			<integer>339</integer>
			<key>p1y</key>
			<integer>591</integer>
			<key>p2x</key>
			<integer>298</integer>
			<key>p2y</key>
			<integer>676</integer>
			<key>p3x</key>
			<integer>272</integer>
			<key>p3y</key>
			<integer>738</integer>
			<key>startSize</key>
			<integer>50</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<integer>0</integer>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<false/>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.5</real>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<true/>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.2</real>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<false/>
					</dict>
					<dict>
						<key>duration</key>
						<integer>1</integer>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<true/>
					</dict>
					<dict>
						<key>duration</key>
						<real>1.625</real>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<false/>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>interactive</string>
			</dict>
		</array>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>dash_wistle</string>
		<key>smoke</key>
		<false/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>160</integer>
			<key>endSizeVar</key>
			<integer>80</integer>
			<key>name</key>
			<string>scene13_wistle_smoke</string>
			<key>p0x</key>
			<integer>308</integer>
			<key>p0y</key>
			<integer>424</integer>
			<key>p1x</key>
			<integer>254</integer>
			<key>p1y</key>
			<integer>515</integer>
			<key>p2x</key>
			<integer>237</integer>
			<key>p2y</key>
			<integer>602</integer>
			<key>p3x</key>
			<integer>258</integer>
			<key>p3y</key>
			<integer>695</integer>
			<key>startSize</key>
			<integer>50</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<integer>0</integer>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<false/>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.5</real>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<true/>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.2</real>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<false/>
					</dict>
					<dict>
						<key>duration</key>
						<integer>1</integer>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<true/>
					</dict>
					<dict>
						<key>duration</key>
						<real>1.625</real>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<false/>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>interactive</string>
			</dict>
		</array>
		<key>z</key>
		<integer>6</integer>
	</dict>
</array>
</plist>
