<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>animated</key>
			<dict>
				<key>objects</key>
				<array>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene20_thomas_smoke</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene20_thomas_smockestack</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene20_thomas</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>name</key>
								<string>scene20_hole</string>
							</dict>
						</array>
						<key>name</key>
						<string>scene20_thomas_holder</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene20_animationtrigger</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene20_soundpuffs</string>
					</dict>
				</array>
			</dict>
			<key>bgColor</key>
			<string>WHITE</string>
			<key>bgSound</key>
			<dict>
				<key>filename</key>
				<string>ambience_scene_20.m4a</string>
				<key>repeat</key>
				<true/>
				<key>volume</key>
				<real>0.8</real>
			</dict>
			<key>static</key>
			<dict>
				<key>background</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene20_bkgtop</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>scene20_thomasheadligth</string>
					</dict>
				</array>
				<key>text</key>
				<dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{32,145},{349,468}}</string>
						<key>color</key>
						<string>WHITE</string>
						<key>font</key>
						<string>Georgia</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>overlayText</key>
						<string>Just then, Ferdinand noticed something. “I feel air on my funnel,” he peeped. Dash spotted a hole in the roof of the tunnel. “Puff forward, Thomas—and huff your hardest,” Bash suggested.     “Someone will see your steam.” Thomas started to puff. Back at Brendam Docks, Percy saw something that made his firebox fizz. Three puffs of steam floated high in the distance. “It’s Thomas!” Percy peeped. “He&apos;s on Misty Island, and he needs help!”</string>
						<key>size</key>
						<integer>19</integer>
						<key>text</key>
						<string>      Just then, Ferdinand noticed something. “I feel air on my funnel,” he peeped. Dash spotted a hole in the roof of the tunnel. “Puff forward, Thomas—and huff your hardest,” Bash suggested.     “Someone will see your steam.” Thomas started to puff. Back at Brendam Docks, Percy saw something that made his firebox fizz. Three puffs of steam floated high in the distance. “It’s Thomas!” Percy peeped. “He&apos;s on Misty Island, and he needs help!”</string>
						<key>z</key>
						<integer>40</integer>
					</dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{32,145},{349,468}}</string>
						<key>color</key>
						<string>WHITE</string>
						<key>font</key>
						<string>Georgia</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>overlayText</key>
						<string>Just then, Ferdinand noticed something. “I feel air on my funnel,” he peeped. Dash spotted a hole in the roof of the tunnel. “Puff forward, Thomas—and huff your hardest,” Bash suggested. “Someone will see your steam.” Thomas started to puff. Back at Brendam Docks, Percy saw something that made his firebox fizz. Three puffs of steam floated high in the distance. “It’s Thomas!” Percy peeped. “He&apos;s on Misty Island, and he needs help!”</string>
						<key>size</key>
						<integer>19</integer>
						<key>text</key>
						<string>      Just then, Ferdinand noticed something. “I feel air on my funnel,” he peeped. Dash spotted a hole in the roof of the tunnel. “Puff forward, Thomas—and huff your hardest,” Bash suggested.     “Someone will see your steam.” Thomas started to puff. Back at Brendam Docks, Percy saw something that made his firebox fizz. Three puffs of steam floated high in the distance. “It’s Thomas!” Percy peeped. “He&apos;s on Misty Island, and he needs help!”</string>
						<key>z</key>
						<integer>40</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>scene20_bkgtop</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene20_bkgtop</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<string>206.5</string>
			<key>y</key>
			<string>384</string>
		</dict>
		<key>z</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene20_thomasheadligth</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene20_thomasheadligth</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>709</string>
			<key>y</key>
			<string>120</string>
		</dict>
		<key>z</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene20_hole</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene20_hole</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<string>803.5</string>
			<key>y</key>
			<string>716.5</string>
		</dict>
		<key>z</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>scene20_thomas_smoke</string>
				<string>scene20_soundpuffs</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>frameAnimations</key>
		<array>
			<dict>
				<key>repeatForever</key>
				<false/>
				<key>source</key>
				<dict>
					<key>eye</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>115</string>
							<key>totalFrames</key>
							<string>72</string>
							<key>width</key>
							<string>142</string>
							<key>x</key>
							<string>810</string>
							<key>y</key>
							<string>394</string>
							<key>z</key>
							<integer>6</integer>
						</dict>
						<array>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
							<string>scene20_thomas_eyes_02</string>
						</array>
					</array>
					<key>forehead</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>138</string>
							<key>totalFrames</key>
							<string>72</string>
							<key>width</key>
							<string>176</string>
							<key>x</key>
							<string>797</string>
							<key>y</key>
							<string>399</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
							<string>scene20_thomas_forehead_02</string>
						</array>
					</array>
					<key>mouth</key>
					<array>
						<dict>
							<key>frameRate</key>
							<string>24</string>
							<key>height</key>
							<string>169</string>
							<key>totalFrames</key>
							<string>72</string>
							<key>width</key>
							<string>180</string>
							<key>x</key>
							<string>799</string>
							<key>y</key>
							<string>331.5</string>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<array>
							<string>scene20_thomas_mouth_02</string>
							<string>scene20_thomas_mouth_02</string>
							<string>scene20_thomas_mouth_02</string>
							<string>scene20_thomas_mouth_03</string>
							<string>scene20_thomas_mouth_03</string>
							<string>scene20_thomas_mouth_04</string>
							<string>scene20_thomas_mouth_04</string>
							<string>scene20_thomas_mouth_04</string>
							<string>scene20_thomas_mouth_04</string>
							<string>scene20_thomas_mouth_04</string>
							<string>scene20_thomas_mouth_04</string>
							<string>scene20_thomas_mouth_04</string>
							<string>scene20_thomas_mouth_04</string>
							<string>scene20_thomas_mouth_03</string>
							<string>scene20_thomas_mouth_03</string>
							<string>scene20_thomas_mouth_02</string>
							<string>scene20_thomas_mouth_02</string>
							<string>scene20_thomas_mouth_02</string>
						</array>
					</array>
				</dict>
				<key>texturedata</key>
				<string>scene20_thomas_texture</string>
				<key>type</key>
				<string>interactive</string>
			</dict>
		</array>
		<key>name</key>
		<string>scene20_thomas</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene20_thomas</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<string>512</string>
			<key>y</key>
			<string>384</string>
		</dict>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene20_thomas_smockestack</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene20_thomas_smockestack</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<real>0.5</real>
			<key>transformationPointY</key>
			<real>0.5</real>
			<key>x</key>
			<string>752</string>
			<key>y</key>
			<string>478.5</string>
		</dict>
		<key>z</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>scene20_thomas_holder</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene20_placeholder</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene20_thomas_smoke</string>
		<key>smoke</key>
		<false/>
		<key>source</key>
		<dict>
			<key>endSize</key>
			<integer>100</integer>
			<key>endSizeVar</key>
			<integer>100</integer>
			<key>name</key>
			<string>scene20_smoke</string>
			<key>p0x</key>
			<integer>748</integer>
			<key>p0y</key>
			<integer>498</integer>
			<key>p1x</key>
			<integer>771</integer>
			<key>p1y</key>
			<integer>610</integer>
			<key>p2x</key>
			<integer>799</integer>
			<key>p2y</key>
			<integer>721</integer>
			<key>p3x</key>
			<integer>834</integer>
			<key>p3y</key>
			<integer>822</integer>
			<key>startSize</key>
			<integer>60</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<integer>0</integer>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<false/>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.4583333333333335</real>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<true/>
					</dict>
					<dict>
						<key>duration</key>
						<real>1.625</real>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<false/>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.4583333333333335</real>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<true/>
					</dict>
					<dict>
						<key>duration</key>
						<real>1.625</real>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<false/>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.4583333333333335</real>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<true/>
					</dict>
					<dict>
						<key>duration</key>
						<real>1.625</real>
						<key>ease</key>
						<real>0</real>
						<key>smoke</key>
						<false/>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>interactive</string>
			</dict>
		</array>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scene20_soundpuffs</string>
		<key>translateAnimations</key>
		<array>
			<dict>
				<key>keyframes</key>
				<array>
					<dict>
						<key>duration</key>
						<integer>0</integer>
						<key>ease</key>
						<real>0</real>
						<key>sound</key>
						<string>thomas_interactive_scene_20.m4a</string>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.4583333333333335</real>
						<key>ease</key>
						<real>0</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>1.625</real>
						<key>ease</key>
						<real>0</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.4583333333333335</real>
						<key>ease</key>
						<real>0</real>
						<key>sound</key>
						<string>thomas_interactive_scene_20.m4a</string>
					</dict>
					<dict>
						<key>duration</key>
						<real>1.625</real>
						<key>ease</key>
						<real>0</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>0.1</real>
						<key>ease</key>
						<real>0</real>
					</dict>
					<dict>
						<key>duration</key>
						<real>1.625</real>
						<key>ease</key>
						<real>0</real>
						<key>sound</key>
						<string>thomas_interactive_scene_20.m4a</string>
					</dict>
				</array>
				<key>repeatForever</key>
				<false/>
				<key>type</key>
				<string>interactive</string>
			</dict>
		</array>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<true/>
			<key>isInteractive</key>
			<false/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>scene20_animationtrigger</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>scene20_animationtrigger</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<integer>550</integer>
			<key>y</key>
			<integer>200</integer>
		</dict>
		<key>z</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
